<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<footer>
  <div class="container">
    <div class="row text-center">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <ul class="menu list-inline">
          <li>
            <a href="/">Strona główna</a>
          </li>

          <li>
            <a [routerLink]="['/video', 'category', 'MIX']">Video</a>
          </li>

          <li>
            <a [routerLink]="['/tracklist', 'vixa']">Top ranking</a>
          </li>

          <li>
            <a href="https://www.facebook.com/OskarroDJ/">Informacje</a>
          </li>

          <li>
            <a href="https://www.facebook.com/OskarroDJ/">Kontakt</a>
          </li>
        </ul>
      </div>

      <div class="col-md-6 col-sm-6 col-xs-12">
        <ul class="list-inline">
          <li>
            <a href="https://www.facebook.com/OskarroDJ/"><i class="fa fa-facebook fa-2x"></i></a>
          </li>

          <li>
            <a href="https://github.com/Oskarovsky"><i class="fa fa-github fa-2x"></i></a>
          </li>

          <li>
            <a href="https://www.linkedin.com/in/slykoskar/"><i class="fa fa-linkedin fa-2x"></i></a>
          </li>

          <li>
            <a href="https://www.youtube.com/channel/UCyK2Ekq7NAs2x_QCfNMwDYg"><i class="fa fa-youtube fa-2x"></i></a>
          </li>

          <li>
            <a href="https://soundcloud.com/oskarro"><i class="fa fa-soundcloud fa-2x"></i></a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</footer>

<div class="copyright">
    <p>Copyright © 2020 All rights reserved --- Oskarro.com</p>
</div>
<!-- End -->
