<div *ngIf="currentUser; else loggedOut">
  <div class="row">
    <div class="col-12">
      <div class="card bg-transparent">

        <!-- AVATAR WITH BASIC INFO -->
        <div class="card-body bg-transparent">
          <div class="card-title mb-4">
            <div class="d-flex justify-content-start">
              <div class="image-container">
                <img *ngIf="isImage; else noImageFound" [src]="imageToShow" class="image-profile" alt="Avatar image">
                <ng-template #noImageFound>
                  <img class="image-profile" src="/assets/img/user_avatar.png" alt="Default user avatar">
                </ng-template>
              </div>
              <div class="userData ml-3">
                <h2 class="d-block" style="font-size: 2rem; font-weight: bold">
                  <a href="javascript:void(0);">{{userProfile.username}}</a>
                </h2>
<!--                <h6 class="d-block" style="color: white"><a href="javascript:void(0)">1,500</a> Playlist</h6>-->
<!--                <h6 class="d-block" style="color: white"><a href="javascript:void(0)">300</a> Utworów</h6>-->
              </div>
            </div>
          </div>

          <!-- INFORMATION DETAILS -->
          <div class="row">
            <div class="col-12">
              <!-- TABS -->
              <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                <li class="nav-item active">
                  <a class="nav-link" id="basicInfo-tab" data-toggle="tab" href="#basicInfo"
                     role="tab" aria-controls="basicInfo" aria-selected="true">Podstawowe informacje</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="addedTracks-tab" data-toggle="tab" href="#addedTracks"
                     role="tab" aria-controls="connectedServices" aria-selected="false">Dodane utwory</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="favouriteTracks-tab" data-toggle="tab" href="#favouriteTracks"
                     role="tab" aria-controls="connectedServices" aria-selected="false">Ulubione</a>
                </li>
              </ul>

              <!-- TAB CONTENT-->
              <div class="tab-content ml-1">
                <div class="tab-pane fade in active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
                  <div class="row" style="color: white">
                    <div class="col-sm-3 col-md-2 col-5"><label style="font-weight:bold;">Nazwa użytkownika</label>
                    </div>
                    <div class="col-md-8 col-6">{{ userProfile.username }}</div>
                  </div>
                  <hr/>
                  <div class="row" style="color: white">
                    <div class="col-sm-3 col-md-2 col-5"><label style="font-weight:bold;">Email</label></div>
                    <div class="col-md-8 col-6">{{ userProfile.email }}</div>
                  </div>
                  <hr/>
                </div>
                <div class="tab-pane fade" id="addedTracks" role="tabpanel" aria-labelledby="AddedTracks-tab">
                  <ul class="list-group">
                    <li *ngFor="let track of tracks"
                        class="list-group-item d-flex justify-content-between align-items-center">
                      <a href="track/{{track.id}}"
                         class="list-group-item list-group-item-action flex-column align-items-start">
                        {{ track.artist }} - {{ track.title }} ({{track.version}})
                        <span class="badge badge-primary badge-pill">Punkty: {{track.points}}</span>
                      </a>
                    </li>
                  </ul>
<!--                  <div>-->
<!--                    <a [routerLink]="['tracks']" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">-->
<!--                      Pokaż wszystkie utwory-->
<!--                    </a>-->
<!--                  </div>-->
                </div>

                <div class="tab-pane fade" id="favouriteTracks" role="tabpanel" aria-labelledby="FavouriteTracks-tab">
                  <ul class="list-group">
                    <li *ngFor="let track of favoriteTracksByUser"
                        class="list-group-item d-flex justify-content-between align-items-center">
                      <a href="track/{{track.id}}"
                         class="list-group-item list-group-item-action flex-column align-items-start">
                        {{ track.artist }} - {{ track.title }} ({{track.version}})
                        <span class="badge badge-primary badge-pill">Punkty: {{track.points}}</span>
                      </a>
                    </li>
                  </ul>
<!--                  <div>-->
<!--                    <a [routerLink]="['tracks']" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">-->
<!--                      Pokaż wszystkie ulubione-->
<!--                    </a>-->
<!--                  </div>-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #loggedOut>
  Zaloguj się.
</ng-template>
