<div class="example-container main-container">

  <div style="margin: 5px">
    <div class="admin-title">PANEL ADMINA</div>

    <!-- PANEL ADMIN content -->
    <div *ngIf="isUserLogged; else notLoggedIn" class="row">
      <div class="col-8">
        <app-article-part></app-article-part>
      </div>

      <div class="col-4">
        <app-user-part></app-user-part>
      </div>
    </div>

    <ng-template #notLoggedIn>
      <div class="alert alert-warning" role="alert">
        <a routerLink="/login">Zaloguj się</a>, aby uzyskać dostęp do panelu admina
      </div>
    </ng-template>

  </div>
</div>
