<div *ngIf="!navigationComponent.getIsMobileResolution()">
  <div class="row post no-gutters glowing-border" *ngFor="let track of tracks">
    <div class="col-md-1 image-area">
      <img *ngIf="coversToShow.get(track.id); else noCoverFound"
           [src]="coversToShow.get(track.id)" alt="Zdjęcie do utworu {{track.title}}"
           style="min-height: 80px">
      <ng-template #noCoverFound>
        <img src="/assets/img/logo_music.png"
             alt="Domyślne zdjęcie do utworu {{track.title}}"
             class="profile-img-card rounded-circle"/>
      </ng-template>
      <app-track-vote-button [track]="track"></app-track-vote-button>
    </div>

    <div class="col-md-10">
      <div class="info-area">
        <span class="subreddit-text">
          <a class="posturl" routerLink="">Dodano {{track.createdAt | dateAgo}}   |</a>
        </span>
        <span *ngIf="track.user!==null" style="color: black">
          Autor <a class="username" routerLink="/profile/{{track.user.username}}" style="color: rebeccapurple; font-weight: bold">
          {{track.user.username}}</a>
        </span>
        <span *ngIf="track.user==null">
          Autor <a class="username" routerLink="/profile/Oskarro">Oskarro</a>
        </span>
      </div>

      <div class="post-title" >
        <a *ngIf="track.version !== null" class="postname" href="/track/{{track.id}}">{{track.artist}} - {{track.title}} ({{track.version}})</a>
        <a *ngIf="track.version === null" class="postname" href="/track/{{track.id}}">{{track.artist}} - {{track.title}}</a>
      </div>
      <div *ngIf="track.urlSource !== null" class="post-title">
      </div>
      <div *ngIf="mapa.get(track.id) != null">
        <div *ngIf="track.urlSource === 'KRAKENFILES'" class="post-title iframe_track">
          <iframe [src]="mapa.get(track.id)" onload="resizeIframe(this)" width="1000" height="100" frameborder="0"></iframe>
        </div>
      </div>
      <div *ngIf="!divShowMapa.get(track.id)">
        <input type="image" src="../../../../../assets/img/player_oskarro.jpg" alt="player_image" (click)="fakeClick(track.id)">
      </div>
      <span>
        <a *ngIf="isLoggedIn" class="btnCommments" href="track/{{track.id}}" role="button">
         <button class="btn-download">Pobierz utwór</button>
        </a>
        <a *ngIf="!isLoggedIn" class="btnCommments" [routerLink]="['/login']" role="button">
         <button class="btn-download">Zaloguj się, aby pobrać utwór</button>
        </a>
      </span>
      <hr />
    </div>
  </div>
</div>


<!------------------------------------------------------------------------------>


<div *ngIf="navigationComponent.getIsMobileResolution()">
  <div class="row post no-gutters glowing-border" *ngFor="let track of tracks">
    <div>
      <span class="subreddit-text">
        <a class="posturl" routerLink="">Dodano {{track.createdAt | dateAgo}}   |</a>
      </span>
      <span *ngIf="track.user!==null" style="color: black">
        Autor <a class="username" routerLink="/profile/{{track.user.username}}" style="color: rebeccapurple; font-weight: bold">
        {{track.user.username}}</a>
      </span>
      <span *ngIf="track.user==null">
        Autor <a class="username" routerLink="/profile/Oskarro">Oskarro</a>
      </span>
    </div>

    <div>
      <div style="width: 18%; float:left; margin-right: 0.2em">
        <div class="image-area-mobile">
          <img *ngIf="coversToShow.get(track.id); else noCoverFound"
               [src]="coversToShow.get(track.id)" alt="Zdjęcie do utworu {{track.title}}">
          <ng-template #noCoverFound>
            <img src="/frontend/src/assets/img/logo_music.png"
                 alt="Domyślne zdjęcie do utworu {{track.title}}"
                 class="profile-img-card rounded-circle"/>
          </ng-template>
          <app-track-vote-button [track]="track"></app-track-vote-button>
        </div>
      </div>

      <div style="width: 80%; float:right">
        <div class="post-title">
          <a *ngIf="track.version !== ''" class="postname" href="/track/{{track.id}}">{{track.title}} ({{track.version}})</a>
          <a *ngIf="track.version === ''" class="postname" href="/track/{{track.id}}">{{track.title}}</a>
        </div>
        <div>
          <a class="postname" href="/track/{{track.id}}">{{track.artist}}</a>
        </div>

        <div *ngIf="mapa.get(track.id) != null">
          <div *ngIf="track.urlSource === 'KRAKENFILES'" class="post-title iframe_track">
            <iframe [src]="mapa.get(track.id).toString().replace('1000', '300') | byPassSecurity"
                    frameborder="0" scrolling="no" onload="resizeIframe(this)" style="height: 100px"></iframe>
          </div>
        </div>
        <div *ngIf="!divShowMapa.get(track.id)">
          <input type="image" src="../../../../../assets/img/player_oskarro.jpg" alt="player_image"
                 style="max-width: 19em" (click)="fakeClick(track.id)">
        </div>

        <span>
          <a *ngIf="isLoggedIn" class="btnCommments" href="track/{{track.id}}" role="button">
           <button class="btn-download">Pobierz utwór</button>
          </a>
          <a *ngIf="!isLoggedIn" class="btnCommments" [routerLink]="['/login']" role="button">
           <button class="btn-download">Zaloguj się, aby pobrać utwór</button>
          </a>
        </span>
      </div>
    </div>

    <hr />

  </div>
</div>
