<div class="card" style="background: rgba(0,0,0,0.8)">
  <h2 class="card-header" style="text-align: center; color: white">
    REGULAMIN SERWISU
  </h2>
  <div class="container list-regulations">
    <ol type="1" style="margin: 6px">
      <li style="margin: 6px">Cała zawartość strony oraz dostępne na niej materiały prezentowane są jedynie w celach edukacyjnych lub
      informacyjnych.</li>
      <li style="margin: 6px">Udostępniane tutaj informacje nie mogą być użyte do celów niezgodnych z polskim prawem.</li>
      <li style="margin: 6px">Autor tego serwisu nie ponosi żadnej odpowiedzialności z powodu wykorzystywania przez osoby trzecie zawartych
      tutaj treści w sposób niezgodny z polskim prawem</li>
      <li style="margin: 6px">Ten serwis internetowy zawiera jedynie informacje na temat plików audio i video.</li>
      <li style="margin: 6px">Na stronie nie są umieszczone żadne pliki muzyczne oraz filmy.</li>
      <li style="margin: 6px">Pliki objęte prawem autorskim wolno zgrywać z internetu jedynie wtedy, gdy użytkownik posiada domu ich oryginalna wersje,
        a pobierane kopie będą traktowane jako zapasowe.</li>
      <li style="margin: 6px">Nie można na tej stronie pisać obraźliwych, wulgarnych, kłamliwych oraz zawierających groźby materiałów,
        które mogą być niezgodne z polskim prawem.</li>
      <li style="margin: 6px">Skrypt tej strony wykorzystuje cookies do przechowywania informacji na komputerze użytkownika.</li>
      <li style="margin: 6px">Rejestracja użytkownika w tym serwisie, oznacza potwierdzenie zasad regulaminu strony.</li>
      <li style="margin: 6px">Wszystkie udostępnione przez użytkownika informacje będą przechowywane w zewnętrznej bazie danych.</li>
      <li style="margin: 6px">Administrator strony oraz moderatorzy tego forum mają prawo do edycji dowolnej treści na tej stronie.</li>
      <li style="margin: 6px">Złamanie którejkolwiek z powyższych zasad lub nawet podejrzenie takiego naruszenia regulaminu
        może być przyczyną natychmiastowego i trwałego usunięcia z listy użytkowników bez wcześniejszego powiadomienia.</li>
      <li style="margin: 6px">Jeżeli powyższe warunki Tobie jako użytkownikowi tej strony nieodpowiadają to proszę o opuszczenie strony.</li>
    </ol>
  </div>
</div>
