.sidebar-window-background {
  background: linear-gradient(180deg, rgba(116,1,161,1) 0%, rgba(0,0,0,1) 100%);
}

[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

#rankingVideo {
  width:100%;
  border: solid 1px white;
  color: wheat;
  text-align: center;
}

.head-row-name {
  text-align: center;
  color: white;
  border: solid 1px white;
  font-weight: bolder
}

.head-row-view {
  text-align: center;
  color: #7dabdb;
  border: solid 1px white;
}

.head-row-like {
  text-align: center;
  color: rebeccapurple;
  border: solid 1px white;
}

.panel-window {
  background-color: #181818;
}
