<div>

  <!-- region SOCIETY -->
  <div class="panel panel-default panel-window glowing-border">
    <div class="panel-heading sidebar-window-background glowing-border">
      <h3 class="sidebar-window-title">SPOŁECZNOŚĆ</h3>
    </div>
    <div class="panel-body bg-grey text-center glowing-border">
      <div class="g-ytsubscribe" data-channelid="UCyK2Ekq7NAs2x_QCfNMwDYg" data-layout="full" data-count="default">
      </div>

      <!-- Your like button code -->
      <div class="fb-like" data-href="https://www.facebook.com/OskarroDJ/"
           data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="true"></div>
    </div>
  </div>
  <!-- endregion -->

  <!-- region OSKARRO -->
  <div class="panel panel-default panel-window glowing-border">
    <div class="panel-heading sidebar-window-background glowing-border">
      <h3 class="sidebar-window-title">DEEJAY OSKARRO</h3>
    </div>
    <div>
      <table id="rankingVideo">
        <tr style="border: solid 1px white;">
          <th class="head-row-name">Składanka</th>
          <th class="head-row-view"><mat-icon class="icon-ok">pageview</mat-icon></th>
          <th class="head-row-like"><mat-icon class="icon-ok">favorite</mat-icon></th>
        </tr>
        <tr *ngFor="let video of videoList" style="border: solid 1px white;">
          <td style="border: solid 1px white;">{{video.name}}</td>
          <td style="border: solid 1px white;">{{video.viewCount}}</td>
          <td style="border: solid 1px white;">{{video.likeCount}}</td>
        </tr>
      </table>
      <button [routerLink]="['/video', 'all']" class="btn btn-secondary btn-sm"
              style="margin: 5px;">Pokaż więcej...
      </button>
    </div>
  </div>
  <!-- endregion -->

  <!-- region FEATURED -->
  <div class="panel panel-default panel-window glowing-border">
    <div class="panel-heading sidebar-window-background glowing-border">
      <h3 class="sidebar-window-title">POLECANE</h3>
    </div>

    <!-- TODO dodaj obrazek i aktywacje playera po kliknięciu -->
    <div class="panel-body bg-grey text-center glowing-border">
      <iframe id="sc-widget" width="100%" height="166" scrolling="no" frameborder="no" auto_play="false"
              src="https://w.soundcloud.com/player/?url=https://soundcloud.com/oskarro/vixa&show_artwork=false"></iframe>
    </div>
  </div>
  <!-- endregion -->

  <!-- region PARTNERS -->
  <div class="panel panel-default panel-window glowing-border">
    <div class="panel-heading sidebar-window-background glowing-border">
      <h3 class="sidebar-window-title">PARTNERZY</h3>
    </div>
    <div class="glowing-border">
      <div class="panel-body bg-grey text-center" style="color: white">
        <p>Chcesz mieć swoją reklamę?<br/><a href="https://www.facebook.com/OskarroDJ/" target="_blank">Napisz do mnie tutaj!</a></p>
      </div>
      <div class="text-center panel-body">
        <img src="/assets/img/xxx.png" alt="TO jest MIEJSCE na TWOJĄ reklamę!">
      </div>
    </div>
  </div>
  <!-- endregion -->

</div>
