<!--<div class="example-container">-->
  <div style="display: inline-block; text-align: center; width: 100%; border: 5px purple solid; background: white">
    <!-- Post content -->

    <div class="panel panel-default">
      <div class="panel-heading" style="margin-bottom: 5px">
        <h3 class="panel-title">Najnowsze posty</h3>
      </div>
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col" style="text-align: center">#</th>
          <th scope="col" style="text-align: center">Tytuł</th>
          <th scope="col" style="text-align: center">Użytkownik</th>
          <th scope="col" style="text-align: center">Data utworzenia</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let post of posts | slice:0:5; let i=index;">
          <td>{{ post.id }}</td>
          <td>{{ post.title }}</td>
          <td>{{ post.user.username }}</td>
          <td>{{ post.createdAt.substr(0, post.createdAt.indexOf('T')) }}</td>
        </tr>
        </tbody>
      </table>

      <div style="margin-top: 10px">
        <span style="text-align: left; margin: 10px">
          <button mat-raised-button
                  type="button"
                  color="primary"
                  routerLink="/post/add">Dodaj nowy post
          </button>
        </span>
        <span style="text-align: left; margin: 10px">
          <button mat-raised-button
                  type="button"
                  color="primary"
                  routerLink="/post/user/{{username}}">Pokaż więcej
          </button>
        </span>
      </div>
    </div>
  </div>
<!--</div>-->
