<div class="card" style="background: rgba(0,0,0,0.8)">
  <h2 class="card-header" style="text-align: center; color: white">
    REJESTRACJA
  </h2>
  <article class="card-body mx-auto" style="max-width: 100%; min-width: 50%">
    <h4 class="card-title mt-3 text-center" style="color: white">Dołącz do naszej ekipy!</h4>

    <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <p>
        <a href="{{facebookAuthUrl}}" class="btn btn-block btn-facebook">
          <i class="fa fa-facebook"></i> Zaloguj się za pomocą Facebook
        </a>
      </p>

      <p class="divider-text" style="color: black">
        <span class="bg-light">LUB</span>
      </p>

      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-user fa-2x"></i> </span>
        </div>
        <div class="alert-danger" style="position: relative; text-align: center; font-size: 15px;" *ngIf="f.submitted && username.invalid">
          <div *ngIf="username.errors['required']">Nazwa użytkownika jest wymagana</div>
          <div *ngIf="username.errors['minlength']">Nazwa użytkownika musi zawierać minimum 4 znaki</div>
          <div *ngIf="username.errors['maxlength']">Nazwa użytkownika nie może zawierać więcej niż 20 znaków</div>
        </div>
        <input type="text" class="form-control" name="username" [(ngModel)]="form.username"
               required minlength="4" maxlength="20" #username="ngModel" placeholder="Nazwa użytkownika" onkeyup='enableRegisterButton();'/>
      </div>

      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-envelope fa-lg" style="margin-bottom: 2px; margin-top: 2px"></i> </span>
        </div>
        <div class="alert-danger" style="position: relative; text-align: center; font-size: 15px;" *ngIf="f.submitted && email.invalid">
          <div *ngIf="email.errors['required']">Wymagany adres email</div><div *ngIf="email.errors['email']">Niepoprawny email</div>
        </div>
        <input type="email" class="form-control" name="email" [(ngModel)]="form.email"
          required email #email="ngModel" placeholder="Email" onkeyup='enableRegisterButton();'/>
      </div>

      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-lock fa-2x"></i> </span>
        </div>
        <div class="alert-danger" style="position: relative; text-align: center; font-size: 15px;" *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors['required']">Wymagane hasło</div>
          <div *ngIf="password.errors['minlength']">Hasło musi zawierać minimum 6 znaków</div>
        </div>
        <input type="password" class="form-control" name="password" [(ngModel)]="form.password"
          required minlength="6" #password="ngModel" placeholder="Hasło" id="password" onkeyup='comparePassword();'/>
      </div>

      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-lock fa-2x"></i> </span>
        </div>
        <div class="alert-danger" style="position: relative; text-align: center; font-size: 15px;">
          <div id="message"></div>
        </div>
        <input class="form-control" placeholder="Powtórz hasło" type="password"
               id="confirm_password" name="confirm_password" onkeyup='comparePassword();'> <br/>
      </div>

      <div class="form-group">
        <div style="position: relative; text-align: center; font-size: 15px; color: white">
          <input type="checkbox" name="terms" id="terms"> Zgadzam się na <a routerLink="/info/regulations">warunki regulaminu</a>
        </div>
      </div>


      <div class="form-group">
        <button type="submit" class="btn btn-dark btn-block" id="submit_register" disabled>Zarejestruj się</button>
      </div>

      <p class="text-center" style="color: white">Masz już konto? <a [routerLink]="['/login']">Zaloguj się!</a></p>
    </form>
    <div class="alert alert-success" *ngIf="isSuccessful">
      Zarejestrowałeś się w portalu oskarro.com ! <br/>
      Wysłaliśmy wiadomość na Twojego konto - potwierdź swoją tożsamość, aby korzystać ze wszystkich opcji!
    </div>
  </article>
</div>



