<mat-sidenav-container fxFlexFill>
  <mat-sidenav #appDrawer mode="over" opened="false">
    <mat-nav-list>
      <a (click)="navigationService.closeNav()" style="font-size: 1em; color:#524c4c" mat-list-item>Ukryj menu</a>
      <a (click)="navigationService.closeNav()" mat-list-item *ngIf="!isLoggedIn" routerLink="/login">
        <mat-icon class="routeIcon" style="margin-right: 15px;">slideshow</mat-icon>Zaloguj się
      </a>
      <a (click)="navigationService.closeNav()" mat-list-item class="menu-list-item" *ngIf="!isLoggedIn" routerLink="/register">
        <mat-icon class="routeIcon" style="margin-right: 15px;">slideshow</mat-icon>Zarejestruj się
      </a>
      <a (click)="navigationService.closeNav()" mat-list-item class="menu-list-item" *ngIf="isLoggedIn" routerLink="/profile">
        <mat-icon class="routeIcon" style="margin-right: 15px;">slideshow</mat-icon>Panel użytkownika
      </a>
      <mat-divider></mat-divider>
      <app-menu-list-item *ngFor="let item of navItems" [item]="item"></app-menu-list-item>
      <a *ngIf="isLoggedIn" (click)="logout()" (click)="navigationService.closeNav()" mat-list-item class="menu-list-item">
        <mat-icon class="routeIcon" style="margin-right: 15px;">slideshow</mat-icon>Wyloguj się
      </a>
    </mat-nav-list>
  </mat-sidenav>


  <mat-sidenav-content *ngIf="!getIsMobileResolution()">
    <div class="container-fluid">
      <div class="d-flex">
        <div class="flex-shrink-0 p-3 left-column">
            <app-sidebar-left></app-sidebar-left>
        </div>
        <div class="flex-grow-1 p-3 center-column" style="background-color: rgba(27,27,27,0.8); border: black">
            <app-alert></app-alert>
            <router-outlet></router-outlet>
        </div>
        <div class="flex-shrink-0 p-3 right-column">
            <app-sidebar-right></app-sidebar-right>
        </div>
      </div>
    </div>
  </mat-sidenav-content>

  <mat-sidenav-content *ngIf="getIsMobileResolution()" fxFlexFill>
    <div class="container" style="background-color: black">
      <div fxLayout="column" fxFlexFill>

        <div>
          <app-alert></app-alert>
          <router-outlet></router-outlet>
        </div>

        <div>
          <app-sidebar-left></app-sidebar-left>
        </div>

        <div>
          <app-sidebar-right></app-sidebar-right>
        </div>

      </div>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
