.post{
  --post-line-color: #ccc;
  border: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: rgba(255,255,255,0.8);
  color: #878A8C;
  position: relative;
  border-radius: 4px;
  padding:5px;
}

.btnCommments{
  border-radius: 2px solid;
  color: #878A8C;
  opacity: 1;
}

.btnCommments:hover{
  opacity: 0.65;
  cursor: pointer;
}

.post-title {
  margin-bottom: 15px;
  font-size: 28px;
  font-weight: bold;
  opacity: 1;
}

.posturl, .postname{
  color: black;
}

.subreddit-text{
  font-weight: bold;
}

.post-text{
  margin-top: 10px;
}

.user_name{
  font-size:14px;
  font-weight: bold;
}
.comments-list .media{
  border-bottom: 1px dotted #ccc;
}



.mt-100 {
  margin-top: 100px
}

.mb-100 {
  margin-bottom: 100px
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0px solid transparent;
  border-radius: 0px
}

.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem
}

.card .card-title {
  position: relative;
  font-weight: 600;
  margin-bottom: 10px
}

.comment-widgets {
  position: relative;
  margin-bottom: 10px
}

.comment-widgets .comment-row {
  border-bottom: 1px solid transparent;
  padding: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0
}

.p-2 {
  padding: 0.5rem !important
}

.comment-text {
  padding-left: 15px
}

.w-100 {
  width: 100% !important
}

.m-b-15 {
  margin-bottom: 15px
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.76563rem;
  line-height: 1.5;
  border-radius: 1px
}

.btn-cyan {
  color: #fff;
  background-color: #27a9e3;
  border-color: #27a9e3
}

.btn-cyan:hover {
  color: #fff;
  background-color: #1a93ca;
  border-color: #198bbe
}

.comment-widgets .comment-row:hover {
  background: rgba(0, 0, 0, 0.05)
}

.btn-download {
  font-family: Hack, monospace;
  background: #cecbd4;
  color: #1d1d1d;
  cursor: pointer;
  font-size: 1em;
  padding: 0.5rem;
  border: 1px solid rebeccapurple;
  transition: all 0.5s;
  border-radius: 10px;
  width: auto;
  position: relative;
  min-width: 200px;

  &::after {
    font-weight: 400;
    position: absolute;
    left: 80%;
    top: 54%;
    right: 0;
    bottom: 0;
    opacity: 0;
    transform: translate(-50%, -50%);

  }

  &:hover {
    background: #411c92;
    transition: all 0.5s;
    border-radius: 10px;
    box-shadow: 0px 6px 15px #411c92;
    color: #ffffff;
  }
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;

  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.image-area {
  margin-right: 10px;
  border: solid 3px black;
  height: min-content;
}

.image-profile {
  object-fit:contain;
  max-width:100px;
  max-height:100px;
  color: white;
  border: solid 1px #919191
}

