<table class="table table-dark table-hover">
  <thead>
  <tr>
    <th scope="col">Tytuł</th>
    <th scope="col">Artysta</th>
    <th scope="col">Wersja</th>
    <th scope="col">Gatunek</th>
    <th scope="col">Punkty</th>
    <th scope="col">Data dodania</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let track of tracks" [routerLink]="['/track', track.id]">
      <td>{{track.title}}</td>
      <td>{{track.artist}}</td>
      <td>{{track.version}}</td>
      <td>{{track.genre}}</td>
      <td>{{track.points}}</td>
      <td>{{track.createdAt | dateAgo}}</td>
    </tr>
  </tbody>
</table>
