<div class="example-container" style="background-color: rgba(0,0,0,0.8);">

  <form name="form" (ngSubmit)="createPlaylist(playlistName.value)">
    <div class="row">
    <label for="title" style="color: white">Nazwa playlisty</label>
    </div>
    <div class="row">
      <input #playlistName
           matInput
           id="title"
           [(ngModel)]="modelPlaylist.name"
           name="name" />
    </div>
    <button mat-raised-button
            type="button"
            (click)="createPlaylist(playlistName.value)"
            color="primary"
            routerLink="/playlist/all/{{modelUser.username}}">Dodaj playlistę
    </button>
  </form>


</div>
