.sidebar-window-background {
  background: linear-gradient(180deg, rgba(116,1,161,1) 0%, rgba(0,0,0,1) 100%);
}

table {
  width:100%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

#t01 tr:nth-child(even) {
  background-color: #eee;
}
#t01 tr:nth-child(odd) {
  background-color: #fff;
}
#t01 th {
  background-color: black;
  color: white;
}

#topUploaders th, td {
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid gray;
  border-collapse: collapse;
}

.glowing-border {
  outline: none;
  box-shadow: 0 0 15px rebeccapurple;
}

