<div class="row post no-gutters">

<!-- TRACK IMAGE (COVER) -->
  <div class="col-md-1 image-area">
    <img *ngIf="coversToShow.get(trackId); else noCoverFound"
         [src]="coversToShow.get(trackId)" alt="Zdjęcie do utworu {{track.title}}"
         style="min-height: 80px">
    <ng-template #noCoverFound>
      <img src="/assets/img/logo_music.png" alt="Sdjęcie do utworu {{track.title}}" class="profile-img-card rounded-circle"/>
    </ng-template>
    <app-track-vote-button [track]="this.track"></app-track-vote-button>
  </div>

  <!-- BASIC TRACK INFORMATION -->
  <div class="col-md-10">
        <span class="subreddit-info">
            <span class="subreddit-text"><a class="posturl" routerLink="">Dodano {{track.createdAt | dateAgo}}</a></span>
            <span *ngIf="track.user!==null">
              | Autor <a class="username" routerLink="/profile/{{track.user.username}}">{{track.user.username}}</a>
            </span>
            <span *ngIf="track.user==null">
              | Autor <a class="username" routerLink="/user/Oskarro">Oskarro</a>
            </span>
        </span>
    <hr />
    <div *ngIf="track.version !== null" class="post-title">
      <a class="postname" href="/tracks/{{track.id}}">{{track.artist}} - {{track.title}} ({{track.version}})</a>
    </div>
    <div *ngIf="track.version === null" class="post-title">
      <a class="postname" href="/tracks/{{track.id}}">{{track.artist}} - {{track.title}}</a>
    </div>
    <div *ngIf="(track.urlSource !== null && track.urlPlugin !== null); else nullSafeUrl" class="post-title">
      <div *ngIf="track.urlSource === 'ZIPPYSHARE'" class="post-title iframe_track">
        <iframe [src]="track.safeUrl" width="1000" height="100" frameborder="0"></iframe>
      </div>
      <div *ngIf="track.urlSource === 'KRAKENFILES'" class="post-title iframe_track">
        <iframe [src]="track.safeUrl" width="1000" height="100" frameborder="0"></iframe>
      </div>
    </div>
    <ng-template #nullSafeUrl>
      <div class="post-title">
        <img src="assets/img/player_error_oskarro.jpg" alt="Track not exist on server">
      </div>
    </ng-template>

    <div>
      <a *ngIf="isLoggedIn" href="{{track.url}}" role="button" target="_blank">
        <button class="btn-download">Pobierz utwór</button>
      </a>
    </div>
    <hr />

    <!-- DETAILS TRACK INFORMATION -->
    <div class="col-sm">
      <table class="info-table table-sm">
        <tbody *ngIf="track.urlSource === 'KRAKENFILES' && track.urlPlugin !== null; else noTrackDetails">
        <tr>
          <th scope="row">Gatunek</th>
          <td>{{track.genre}}</td>
        </tr>
        <tr>
          <th scope="row">Rozmiar pliku</th>
          <td>{{trackDataFromAPI.size}}</td>
        </tr>
        <tr>
          <th scope="row">Jakość dźwięku</th>
          <td>{{trackDataFromAPI.bitrate}}</td>
        </tr>
        <tr>
          <th scope="row">Ilość wyświetleń</th>
          <td>{{trackDataFromAPI.views}}</td>
        </tr>
        <tr>
          <th scope="row">Ilość pobrań</th>
          <td>{{trackDataFromAPI.downloads}}</td>
        </tr>
        </tbody>
        <ng-template #noTrackDetails>
          <tr>
            <th scope="row">Info</th>
            <td>Nie można pobrać danych.</td>
          </tr>
        </ng-template>
      </table>
    </div>
    <hr />
    <div>
      To jest super utwór. Uwaga najnowsza piosenka bardzo znanego artysty {{track.artist}}.
      Przebój nazywa się {{track.title}}, natomiast wersja tego kawałka to {{track.version}}
      Zarówno piosenka jak i teledysk są godne polecenia - wersje teledysku możecie znaleźć na pewno na youtube
      Ten muzyczny hit na pewno zrobi na Was wrażenie - {{track.artist}} - {{track.title}} ({{track.version}}).
      Możesz pobrać i ściągnąć tą piosenke już teraz, bez ukrytych kosztów - wszystko zupełnie za darmo.
    </div>

  </div>


<!-- COMMENTS LIST -->
  <div class="container" style="color: black">
    <div class="row">
      <div class="col-md-8">
        <div class="page-header" style="color: black">
          <h3><small class="pull-right" style="color: black">{{trackComments.length}} komentarzy</small> Komentarze </h3>
        </div>
        <div class="comment-widgets">
          <div *ngFor="let comment of trackComments" class="d-flex flex-row comment-row m-t-0">
            <a class="media-left" href="#">
              <img [src]="imagesToShow.get(comment.user.username)" width="80" height="80"
                   alt="Place image title" class="rounded-circle"
                   *ngIf="imagesToShow.get(comment.user.username); else noImageFound">
              <ng-template #noImageFound>
                <img src="/assets/img/user_avatar.png"
                     alt="image to show"
                     class="image-profile profile-img-card rounded-circle"/>
              </ng-template>
            </a>
            <div class="media-body">
              <h4 class="media-heading user_name">{{comment.user.username}}</h4>
              {{comment.text}}
            </div>
            <div class="comment-footer">
              <span class="text-muted float-right">
                {{comment.createdAt | dateAgo}} <br/>
                <button *ngIf="this.modelUser.username==comment.user.username"
                        (click)="deleteTrackCommentById(comment.id)"
                        type="button" class="float-right btn btn-danger btn-md">Usuń</button>
              </span>
            </div>
          </div>
        </div>

        <hr />

        <!-- COMMENTS FORM -->
        <div *ngIf="isLoggedIn" class="card my-5" style="background-color: transparent">
          <form #commentForm="ngForm">
            <div style="margin-bottom: 20px">
              <h4>Dodaj nowy komentarz</h4>
            </div>
            <fieldset>
              <div class="row">
                <div class="col-sm-3 col-lg-2 hidden-xs">
                  <img [src]="imagesToShow.get(this.modelUser.username)" width="100%" height="100%"
                       alt="Place image title" class="img-responsive rounded-circle"
                       *ngIf="imagesToShow.get(modelUser.username); else noImageFound">
                  <ng-template #noImageFound>
                    <img id="profile-img" width="100" height="100"
                         src="/assets/img/user_avatar.png"
                         alt="image to show"
                         class="profile-img-card rounded-circle"/>
                  </ng-template>
                </div>
                <div class="form-group col-xs-12 col-sm-9 col-lg-10">
                  <label for="comment" style="color: black">Treść komentarza</label>
                  <textarea #trackCommentText class="form-control" rows="2"
                            id="comment">
                  </textarea>
                </div>
              </div>
              <button type="submit" [disabled]="!commentForm.form.valid"
                      (click)="addNewTrackComment(trackCommentText.value)"
                      class="btn btn-info pull-right">Submit
              </button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
