.title_table {
  color:white;
  background-color: rgb(48, 0, 62);
  border: 1px solid #ddd;
  border-radius: 13px;
}

.title_table_name {
  text-align: center;
  font-weight: bold;
}

#tracks {
  border-collapse: collapse;
  border-radius: 13px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  color: white;
  background-color: rgba(49, 49, 49, 0.7);
}

#tracks td, #tracks th {
  border: 1px solid #616161;
  padding: 8px;
  background-color: rgba(49, 49, 49, 0.7);
}

#tracks tr:nth-child(even){
  background-color: rgba(49, 49, 49, 0.7);
}

#tracks tr:hover {
  background-color: rgba(64, 64, 64, 0.7);
}

#tracks th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #520052;
  color: white;
  border: 1px solid #616161;
}


a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

/* HIGHLIGHT */
.highlight .button {
  display: inline-block;
  color: #fff;
  background: #370749;
  margin: 10px;
  width: fit-content;
  height: 40px;
  padding: 0 10px;
  line-height: 40px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;

}

.highlight .button:before {
  content: "";
  position: absolute;
  top: -30px;
  left: -80px;
  height: 100px;
  width: 70px;
  background: rgba(173, 173, 173, 0.7);
  transform: rotate(20deg);
}

.highlight .button:hover:before {
  left: 150px;
  transition: all .5s;
}
.highlight {margin-bottom:100px;}

.buttonTable {
  margin-left: 10px;
  color: white;

}
