<div class="example-container main-container">

  <div style="margin: 5px">
    <h1 class="admin-title">PANEL ADMINA</h1>

    <!-- PANEL ADMIN content -->
    <div class="row">
      <div class="col-8">
        <app-article-part></app-article-part>
      </div>

      <div class="col-4">
        <app-user-part></app-user-part>
      </div>
    </div>


    <div class="alert alert-warning" role="alert" *ngIf="!isUserLogged">
      <a routerLink="/login">Zaloguj się</a>, aby uzyskać dostęp do panelu admina
    </div>

  </div>
</div>
