<div class="example-container" style="border: purple 3px solid; background: rgba(0,0,0,0.72)">
  <div style="text-align: center; margin: 5px">
    <mat-card-title>PANEL ADMINA</mat-card-title>
    <!-- PANEL ADMIN content -->

    <div class="row">
      <div class="col-8">
        <app-article-part></app-article-part>
      </div>

      <div class="col-4">
        <app-user-part></app-user-part>
      </div>
    </div>

    <div class="row">
      <div class="col">
      </div>
    </div>


    <div class="alert alert-warning" role="alert" *ngIf="!isUserLogged">
      <a routerLink="/login">Zaloguj się</a>, aby uzyskać dostęp do panelu admina
    </div>

  </div>
</div>
