<!-- TOP HEADER PANEL -->
<mat-toolbar fxLayout="row" color="primary" class="main-header">
  <button mat-icon-button (click)="navigationService.openNav()" fxShow="true" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
  <img src="/assets/img/logo_oskarro.png" class="main-logo" alt="logo oskarro">
  <span fxFlex>{{title}}</span>
  <span class="example-spacer"></span>
  <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">headset</mat-icon>

  <button mat-button routerLink="/admin/panel" *ngIf="showAdminBoard && !getIsMobileResolution()">Admin</button>
  <button mat-button routerLink="/register" *ngIf="!isLoggedIn && !getIsMobileResolution()">Zarejestruj się</button>
  <button mat-button routerLink="/login" *ngIf="!isLoggedIn && !getIsMobileResolution()">Zaloguj się</button>
  <button mat-button routerLink="/profile" *ngIf="isLoggedIn">{{ username }}</button>
  <button mat-button (click)="logout()" *ngIf="isLoggedIn && !getIsMobileResolution()">Wyloguj się</button>

</mat-toolbar>
<!-- END -->


<!-- NAVIGATION PANEL PANEL -->
<div *ngIf="!getIsMobileResolution()" class="navigation-menu">
  <button mat-button routerLink="/" class="main-menu-btn">Strona główna</button>
  <app-auto-open-menu>
    <button mat-button trigger class="main-menu-btn">Utwory</button>
    <div content>
        <button [routerLink]="['/tracks', 'vixa']" mat-menu-item>Vixa</button>
        <button [routerLink]="['/tracks', 'club']" mat-menu-item>Club</button>
        <button [routerLink]="['/tracks', 'dance']" mat-menu-item>Dance</button>
        <button [routerLink]="['/tracks', 'retro']" mat-menu-item>Retro</button>
        <button [routerLink]="['/tracks', 'techno']" mat-menu-item>Techno</button>
        <button [routerLink]="['/tracks', 'disco']" mat-menu-item>Disco</button>
        <button [routerLink]="['/tracks', 'set']" mat-menu-item>Sety/Mixy</button>
    </div>
  </app-auto-open-menu>

  <app-auto-open-menu>
    <button mat-button trigger class="main-menu-btn">Top ranking</button>
    <div content>
        <button mat-menu-item routerLink="/toplist/vixa">Vixa</button>
        <button mat-menu-item routerLink="/toplist/club">Club</button>
        <button mat-menu-item routerLink="/toplist/dance">Dance</button>
        <button mat-menu-item routerLink="/toplist/disco">House</button>
        <button mat-menu-item routerLink="/toplist/techno">Retro</button>
        <button mat-menu-item routerLink="/toplist/set">Sety/Mixy</button>
    </div>
  </app-auto-open-menu>

  <app-auto-open-menu>
    <button mat-button trigger class="main-menu-btn">Video</button>
    <div content>
      <button mat-menu-item routerLink="/video/category/MIX">Mixy</button>
      <button mat-menu-item routerLink="/video/category/LUNA_MIX">Luna Mix</button>
      <button mat-menu-item routerLink="/video/category/PSYCHO_PATH">Psychopath</button>
      <button mat-menu-item routerLink="/video/category/RETRO">Retro</button>
      <button mat-menu-item routerLink="/video/all">Pokaż wszystkie</button>
    </div>
  </app-auto-open-menu>

</div>
<div class="fade-effect1"></div>
<!-- END -->
