.form-title {
  margin: 1em;
  color: white;
  font-size: 2em;
  text-align: center;
}

.form-container {
  margin: 2em;
}

.part-title {
  margin: 2em 0.5em 0.7em;
  color: white;
  font-size: 1.5em;
}

.article-part {
  border: 0.1em solid white;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.image-title {
  margin: 0.7em 0.5em 0.7em;
  color: white;
  font-size: 1.5em;
}

.image-part {
  color: white;
  margin-bottom: 1em;
  margin-left: 2em;
}
