<div class="example-container">

  <form role="form" #myForm="ngForm" accept-charset="UTF-8" (ngSubmit)="onSubmit()" novalidate style="margin: 30px;">
    <div class="form-group">
      <input autofocus autocomplete="none" type="text" name="Title" placeholder="Enter Title"
             [(ngModel)]="modelPost.title" class="form-control" required #PostTitle
             id="PostTitle">
    </div>

    <div>
      <h3>Description</h3>
      <ckeditor name="Description" [config]="ckeConfigForDescription" debounce="100"
                [(ngModel)]="modelPost.description" required #PostDescription
                id="PostDescription" >
      </ckeditor>
    </div>

    <div style="margin-top: 20px">
      <h3>Content</h3>
      <ckeditor [(ngModel)]="modelPost.content" #PostContent name="PageContent" required
                [config]="ckeConfigForContent" debounce="500">
      </ckeditor>
    </div>

    <div class="form-group mt-4">
      <div class="row">
        <div class="col-3 col-md-3 mb-3">
          <button mat-raised-button
                  type="button"
                  (click)="createPost(PostTitle.value, PostDescription.value, PostContent.value)"
                  color="primary"
                  routerLink="/post/user/{{modelUser.username}}"
                  style="margin-left: 10px;">Dodaj post
          </button>
        </div>
      </div>
    </div>
  </form>


</div>
