<div class="card-body">
  <h2 class="card-header">
    ZMIANA HASŁA
  </h2>

  <!-- FORM PASSWORD CHANGE -->
  <form [formGroup]="formGroup">

    <!-- CURRENT PASSWORD -->
    <div class="form-group">
      <label for="oldPwd">Aktualne hasło</label>
      <input [(ngModel)]="passwordForm.oldPassword"
             formControlName="oldPwd"
             id="oldPwd"
             type="password"
             class="form-control"/>
      <div class="alert alert-danger" *ngIf="oldPwd.touched && oldPwd.invalid">
        <div *ngIf="oldPwd.errors['required']">Aktualne hasło jest wymagane</div>
      </div>
    </div>

    <!-- NEW PASSWORD -->
    <div class="form-group">
      <label for="newPwd">Nowe hasło</label>
      <input [(ngModel)]="passwordForm.newPassword"
             formControlName="newPwd"
             id="newPwd"
             type="password"
             minlength="6"
             #newPassword
             onkeyup=comparePasswords();
             class="form-control"/>
      <div class="alert alert-danger" *ngIf="newPwd.touched && newPwd.invalid">
        <div *ngIf="newPwd.errors['required']">Nowe hasło jest wymagane.</div>
        <div *ngIf="newPwd.errors['minlength']">Hasło musi zawierać minimum 6 znaków</div>
      </div>
    </div>

    <!-- CONFIRM PASSWORD -->
    <div class="form-group">
      <label for="confirmPwd">Potwierdź hasło</label>
      <input
        formControlName="confirmPwd"
        id="confirmPwd"
        type="password"
        #newPasswordConfirmation
        class="form-control"/>
      <div class="alert alert-danger" *ngIf="confirmPwd.touched && confirmPwd.invalid">
        <div *ngIf="confirmPwd.errors['required']">Potwierdzenie hasła jest wymagane</div>
      </div>

    </div>
    <button class="btn btn-primary" (click)="onSubmit()" id="submit_change_password">Zmień hasło</button>
    <button routerLink="/profile" class="btn btn-primary">Cancel</button>
  </form>

</div>
