html,
body {
	height: 100%;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
}

body {
	background-color: #191919;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

/*------------------
  Responsive
---------------------*/

@media (min-width: 1200px) {
	.container {
		max-width: 1176px;
	}
}

@media (max-width: 1470px) {
	.hero-slider .owl-nav {
		padding: 0 30px;
	}
}

@media (max-width: 1320px) {
	.hs-item .container {
		padding-left: 100px;
	}
}

@media (max-width: 1630px) {
	.dj-single:hover .dj-social-links {
		float: none;
		clear: both;
	}
}

/* Medium screen : 992px. */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.header-social-links a {
		margin-left: 5px;
	}
	.hs-item .container {
		padding-left: 45px;
	}
	.hero-slider .owl-nav {
		padding: 0 20px;
	}
	.hero-slider .owl-nav .owl-next,
	.hero-slider .owl-nav .owl-prev {
		width: 35px;
		height: 35px;
		font-size: 16px;
		padding-top: 5px;
	}
}

/* Tablet :768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.header-section {
		padding: 0 20px;
	}
	.main-menu li a {
		padding: 36px 10px;
		font-size: 15px;
	}
	.header-social-links a {
		font-size: 10px;
		margin-left: 5px;
		width: 28px;
		height: 28px;
	}
	.hs-item .container {
		padding-left: 35px;
	}
	.hero-slider .owl-nav {
		padding: 0 20px;
	}
	.hero-slider .owl-nav .owl-next,
	.hero-slider .owl-nav .owl-prev {
		width: 35px;
		height: 35px;
		font-size: 16px;
		padding-top: 5px;
	}
	.promo-box {
		height: 230px;
	}
	.promo-box h2 {
		font-size: 24px;
	}
	.albam-preview img {
		min-width: 100%;
		margin-bottom: 40px;
	}
	.audio-wave {
		margin-left: 0;
	}
	.ft-widget {
		margin-bottom: 30px;
	}
	.about-box .ab-pull,
	.about-box .ab-push {
		left: 0;
	}
	.service-box {
		margin-bottom: 30px;
	}
	.categorie h4 {
		font-size: 18px;
	}
	.col-1-5 {
		width: 33.33337%;
	}
}

/* Large Mobile :480px. */

@media only screen and (max-width: 767px) {
	.header-section {
		padding: 15px 20px;
		position: relative;
	}
	.header-social-links {
		display: none;
	}
	.nav-switch {
		position: absolute;
		height: 100%;
		right: 30px;
		top: 0;
		display: block;
		float: right;
		font-size: 32px;
		color: #fff;
		cursor: pointer;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.main-menu {
		display: none;
		position: absolute;
		background: #212121;
		width: 100%;
		padding-right: 0;
		text-align: left;
		left: 0;
		top: 100%;
		z-index: 999;
		padding-left: 0;
	}
	.main-menu li {
		display: block;
		border-top: 1px solid #2f2f2f;
	}
	.main-menu li a {
		display: block;
		padding: 15px 30px;
		color: #fff;
	}
	.hs-item .container {
		padding-left: 15px;
	}
	.hero-slider .owl-nav .owl-next,
	.hero-slider .owl-nav .owl-prev,
	.hero-slider .owl-nav {
		display: none;
	}
	.promo-box {
		margin-bottom: 30px;
	}
	.albam-preview img {
		min-width: 100%;
		margin-bottom: 40px;
	}
	.audio-wave {
		margin-left: 0;
	}
	.ft-widget {
		margin-bottom: 30px;
	}
	.about-box .ab-pull,
	.about-box .ab-push {
		left: 0;
	}
	.service-box {
		margin-bottom: 30px;
	}
	.col-1-5 {
		width: 50%;
	}
	.dj-single:hover .dj-social-links {
		float: right;
		clear: inherit;
	}
	.dj-social-links a {
		width: 35px;
		height: 35px;
		margin-left: 5px;
		font-size: 14px;
	}
	.location-links a {
		margin-right: 30px;
	}
}

/* Medium Mobile :480px. */

@media only screen and (max-width: 576px) {
	.dj-single:hover .dj-social-links {
		float: none;
		clear: both;
	}
}

/* Small Mobile :320px. */

@media only screen and (max-width: 479px) {
	.chart-table {
		width: 100%;
	}
	.chart-table tr td:nth-child(1) {
		font-size: 28px;
		width: 44px;
	}
	.chart-table tr td:nth-child(2) {
		padding-left: 10px;
	}
	.chart-table tr td:nth-child(3) {
		padding-left: 10px;
	}
	.chart-table tr td:nth-child(3) h4 {
		font-size: 20px;
	}
	.col-1-5 {
		width: 100%;
	}
	.dj-single:hover .dj-social-links {
		float: right;
		clear: inherit;
	}
}
