<div>
  <form name="form" (ngSubmit)="createVideo(videoName.value, videoCategory.value, videoUrl.value)">

    <!-- NAZWA MIXA -->
    <mat-form-field appearance="fill">
      <mat-label>Nazwa</mat-label>
      <input #videoName matInput [(ngModel)]="modelVideo.name" name="name" />
    </mat-form-field>
    <br>

    <!-- KATEGORIA -->
    <mat-form-field appearance="fill">
      <mat-label>Kategoria</mat-label>
      <mat-select #videoCategory [(ngModel)]="modelVideo.category">
        <mat-option *ngFor="let category of categories" [value]="category">{{category}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br>

    <!-- LINK YOUTUBE -->
    <mat-form-field appearance="fill">
      <mat-label>URL</mat-label>
      <input #videoUrl matInput [(ngModel)]="modelVideo.url" name="url" />
    </mat-form-field>
    <br>

    <!-- SUBMIT BUTTON -->
    <button mat-raised-button
            type="button"
            (click)="createVideo(videoName.value, videoCategory.value, videoUrl.value)"
            color="primary"
            routerLink="/video/category/{{videoCategory.value}}"
            style="margin-left: 10px;">Dodaj video
    </button>
  </form>
</div>
