<div class="container highlight" style="max-width: 1000px">
  <div class="title-table">
    <h2 class="title-table-name">TOPLISTA - {{tracks[0].genre}}</h2>
  </div>

  <table id="tracks">
    <tr>
      <th *ngFor="let column of displayedColumns" style="background-color: #660088">
        {{ column }}
      </th>
    </tr>

    <tr *ngFor="let track of tracks | slice:0:numberOfTracks; let i=index;" style="text-align: center">
      <td style="font-weight: bold">{{ i+1 }}</td>
      <td style="font-size: 1.5em">{{ track.title }}</td>
      <td>{{ track.artist }}</td>
      <td>{{ track.version }}</td>
      <td><button mat-mini-fab color="primary">{{ track.points }}</button></td>


      <td *ngIf="isLoggedIn">
        <button *ngIf="!favoriteTracksIds.toString().includes(track.id.toString())"
                (click)="addTrackToFavorites(track.id, username); clicked[i] = true;"
                [disabled]="clicked[i]"
                type="button"
                class="btn btn-primary buttonTable">Dodaj
        </button>
        <button *ngIf="favoriteTracksIds.toString().includes(track.id.toString())"
                (click)="addTrackToFavorites(track.id, username)"
                type="button"
                [disabled]="true"
                class="btn btn-primary buttonTable">Dodany
        </button>
      </td>

      <td *ngIf="isLoggedIn" style="vertical-align: middle;">
        <button *ngIf="!votedTracksIds.toString().includes(track.id.toString())"
                (click)="addVoteForTrack(track.id, username); clickedVote[i] = true;"
                [disabled]="clickedVote[i]"
                type="button"
                class="btn btn-primary buttonTable">Lubię To!
        </button>
        <button *ngIf="votedTracksIds.toString().includes(track.id.toString())"
                (click)="addVoteForTrack(track.id, username)"
                type="button"
                [disabled]="true"
                class="btn btn-primary buttonTable">Już to lubisz.
        </button>
      </td>

      <td *ngIf="isLoggedIn" style="vertical-align: middle;">
        <a class="button" style="background-color: #5b0a78" [routerLink]="['/track', track.id]">Zobacz</a>
      </td>

      <td colspan="3" *ngIf="!isLoggedIn"  style="vertical-align: middle;">
        <a class="button" [routerLink]="['/login']">Zaloguj się !</a>
      </td>
    </tr>
  </table>

  <div *ngIf="!isLoggedIn"  class="alert alert-warning" role="alert">
    <a routerLink="/login">Zaloguj się</a>, jeśli chcesz zobaczyć więcej utworów!
  </div>
</div>

