<div class="example-container" style="margin-top: 20px; background: rgba(0,0,0,0.8)">

  <div class="d-flex align-items-center p-3 my-3 text-white-50 rounded shadow-sm" style="background-color: purple">
    <img class="mr-3" src="../../../assets/img/logo_oskarro.png" alt="" width="48" height="48">
    <div class="lh-100">
      <h4 class="mb-0 text-white lh-100">{{video.name}}</h4>
      <small>Oskarro.com</small>
    </div>
  </div>

  <div style="text-align:center">
    <iframe width="640" height="360" [src]=video.safeUrl></iframe>
  </div>
  <br/>

  <div class="col-md-9">
    <div class="row">
      <div class="col-md-12">
        <p *ngIf="this.tracks.length === 0">Tracklist nie została jeszcze złożona !</p>
      </div>
    </div>
  </div>


  <!-- Track list -->
  <table *ngIf="isLoggedIn" class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Artist</th>
      <th scope="col">Title</th>
      <th scope="col">Version</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let track of tracks; index as i">
      <td scope="row">{{ i + 1 }}</td>
      <td>{{ track.title }}</td>
      <td>{{ track.artist }}</td>
      <td>{{ track.version }}</td>
    </tr>
    </tbody>
  </table>

  <button *ngIf="isLoggedIn && showAdminBoard" type="button" class="btn btn-dark" routerLink="../edit">Edytuj</button>

</div>
