table {
  font-family: arial, sans-serif;
  color: white;
  border: 1px solid #dddddd;
  width: 100%;
}

td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  background-color: #262626;
}

th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  background-color: #181818;
}

.glowing-border {
  outline: none;
  box-shadow: 0 0 7px #bc8aef;
}
