div.form-group {
  color: white;
}

.card-body {
  margin-right: 2em;
  color: white;
}

.card-header {
  text-align: center;
  color: white;
}

::ng-deep .mat-select{
  background-color: #e5e1e1;
  font-size: 1.5em;
}

