<div class="row justify-content-md-center" style="background-color: rgba(27,27,27,0.8);">
  <div class="card-body col-8" style="color: white">
    <h3>Zmiana hasła</h3>
    <form [formGroup]="formGroup">
      <div class="form-group">
        <label for="oldPwd">Aktualne hasło</label>
        <input [(ngModel)]="passwordForm.oldPassword"
          formControlName="oldPwd"
          id="oldPwd"
          type="password"
          class="form-control" />
        <div class="alert alert-danger" *ngIf="oldPwd.touched && oldPwd.invalid">
          <div *ngIf="oldPwd.errors.required">Aktualne hasło jest wymagane</div>
          <div *ngIf="oldPwd.errors.shouldBe1234">Aktualne hasło nie jest poprawne</div>
        </div>
      </div>

      <div class="form-group">
        <label for="newPwd">Nowe hasło</label>
        <input [(ngModel)]="passwordForm.newPassword"
          formControlName="newPwd"
          id="newPwd"
          type="password"
          class="form-control" />
        <div class="alert alert-danger" *ngIf="newPwd.touched && newPwd.invalid">
          <div *ngIf="newPwd.errors.required">Nowe hasło jest wymagane.</div>
          <div *ngIf="oldPwd.errors.newIsNotOld">Podane hasło jest takie samo jak poprzednie</div>
        </div>
      </div>

      <div class="form-group">
        <label for="confirmPwd">Potwierdź hasło</label>
        <input
          formControlName="confirmPwd"
          id="confirmPwd"
          type="password"
          class="form-control" />
        <div class="alert alert-danger" *ngIf="confirmPwd.touched && confirmPwd.invalid">
          <div *ngIf="confirmPwd.errors.required">Potwierdzenie hasła jest wymagane</div>
        </div>
        <div class="alert alert-danger" *ngIf="confirmPwd.valid && confirmPwd.invalid && confirmPwd.errors.pwdsDontMatch">
          Podane hasła nie są takie same.
        </div>
      </div>
      <button class="btn btn-primary" (click)="onSubmit()">Zmień hasło</button>
      <button routerLink="/profile" class="btn btn-primary">Cancel</button>

    </form>
  </div>
</div>
