<div>

  <!-- region USER -->
  <div class="panel panel-default">
    <div class="panel-heading sidebar-window-background">
      <h3 class="panel-title sidebar-window-title">TWOJE UTWORY</h3>
    </div>
    <div *ngIf="isLoggedIn" class="panel-body text-center" style="color: #d4d4d4; background-color: #181818">
      <div>
        <p *ngFor="let userTrack of usersTrack" class="list-group-item" style="background-color: black">
          {{ userTrack.artist }} - {{ userTrack.title }}
        </p>
      </div>
      <div style="margin-top: 10px">
      <span>
        <button mat-raised-button
                type="button"
                color="primary"
                [routerLink]="['/tracks', 'add']"
                style="margin-left: 10px;">
                      <i class="material-icons">add_circle_outline</i>
        </button>
      </span>
      <span>
        <button mat-raised-button
                type="button"
                color="primary"
                [routerLink]="['/profile/tracks']"
                style="margin-left: 10px;">
                      <i class="material-icons">list</i>
        </button>
      </span>
      </div>
    </div>
    <div *ngIf="!isLoggedIn" class="panel-body text-center" style="color: #d4d4d4; background-color: #181818">
      <button mat-raised-button
              type="button"
              color="primary"
              [routerLink]="['/login']"
              style="margin-left: 10px;">Zaloguj się, aby dodać utwór!
      </button>
    </div>
  </div>
  <!-- endregion -->

  <!-- region RANDOM HITS -->
  <div class="panel panel-default" fxHide.lt-md>
    <div class="panel-heading sidebar-window-background">
      <h3 class="panel-title sidebar-window-title" >PRZYPADKOWY HIT</h3>
    </div>
    <div class="panel-body text-center" style="color: #d4d4d4; background-color: #181818">
      <h3>{{randomTrack.title}}</h3>
      <h4>{{randomTrack.artist}}</h4>
      <h5>({{randomTrack.version}})</h5>
      <p style="display: none" id="randomTrack">{{randomTrack.artist}} - {{randomTrack.title}} ({{randomTrack.version}})</p>
      <a [routerLink]="['track', randomTrack.id]">
        <i class="material-icons">play_circle_filled</i>
      </a>
    </div>
  </div>
  <!-- endregion -->

  <!-- region TOP5 -->
  <div class="panel panel-default" fxHide.lt-md>
    <div class="panel-heading sidebar-window-background">
      <h3 class="panel-title sidebar-window-title">TOP 7</h3>
    </div>
    <table class="table table-bordered" style="color: #d4d4d4; background-color: #181818">
      <tbody>
      <tr>
        <td style="text-align: center">RETRO</td>
        <td style="text-align: center"><a href="/track/{{popularTrackRetro.id}}">{{popularTrackRetro.title}}</a></td>
      </tr>
      <tr>
        <td style="text-align: center">CLUB</td>
        <td style="text-align: center"><a href="/track/{{popularTrackClub.id}}">{{popularTrackClub.title}}</a></td>
      </tr>
      <tr>
        <td style="text-align: center">DANCE</td>
        <td style="text-align: center"><a href="/track/{{popularTrackDance.id}}">{{popularTrackDance.title}}</a></td>
      </tr>
      <tr>
        <td style="text-align: center">VIXA</td>
        <td style="text-align: center"><a href="/track/{{popularTrackVixa.id}}">{{popularTrackVixa.title}}</a></td>
      </tr>
      <tr>
        <td style="text-align: center">TECHNO</td>
        <td style="text-align: center"><a href="/track/{{popularTrackTechno.id}}">{{popularTrackTechno.title}}</a></td>
      </tr>
      <tr>
        <td style="text-align: center">DISCO</td>
        <td style="text-align: center"><a href="/track/{{popularTrackDisco.id}}">{{popularTrackDisco.title}}</a></td>
      </tr>
      <tr>
        <td style="text-align: center">MIX</td>
        <td style="text-align: center"><a href="/track/{{popularTrackSet.id}}">{{popularTrackSet.title}}</a></td>
      </tr>
      </tbody>
    </table>
  </div>
  <!-- endregion -->



  <!-- region THE BEST UPLOADERS -->
  <div class="panel panel-default" style="background-color: #181818" fxHide.lt-md>
    <div class="panel-heading sidebar-window-background" style="margin-bottom: 5px">
      <h3 class="panel-title sidebar-window-title">NAJLEPSI UPLOADERZY</h3>
    </div>

    <ul class="nav justify-content-center" style="width: 100%">
      <li class="active"><a data-toggle="tab" href="#week">Tydzień</a></li>
      <li><a data-toggle="tab" href="#month">Miesiąc</a></li>
      <li><a data-toggle="tab" href="#total">Total</a></li>
    </ul>

    <div class="tab-content" id="topUploaders">
      <div id="week" class="tab-pane fade in active">
        <table style="color: white;">
          <tr>
            <th>Użytkownik</th>
            <th>Punkty</th>
          </tr>
          <tr *ngFor="let topUploader of topUploadersWeek" style="color: #d4d4d4; background-color: #181818">
            <td>{{ topUploader.username }}</td>
            <td>{{ uploaderWeekMap.get(topUploader.username + 'week') }}</td>
          </tr>
        </table>
      </div>
      <div id="month" class="tab-pane fade">
        <table style="color: white;">
          <tr>
            <th>Użytkownik</th>
            <th>Punkty</th>
          </tr>
          <tr *ngFor="let topUploader of topUploadersMonth" style="color: #d4d4d4; background-color: #181818">
            <td>{{ topUploader.username }}</td>
            <td>{{ uploaderMonthMap.get(topUploader.username + 'month') }}</td>
          </tr>
        </table>
      </div>
      <div id="total" class="tab-pane fade">
        <table style="color: white;">
          <tr>
            <th>Użytkownik</th>
            <th>Punkty</th>
          </tr>
          <tr *ngFor="let topUploader of topUploadersTotal" style="color: #d4d4d4; background-color: #181818">
            <td>{{ topUploader.username }}</td>
            <td>{{ uploaderTotalMap.get(topUploader.username + 'total') }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <!-- endregion -->

  <!-- region THE NEWEST MIXES -->
<!--  <div class="panel panel-default" style="background-color: #181818">
    <div class="panel-heading" style="background-color: #610061; margin-bottom: 5px">
        <h3 class="panel-title" style="color: white">Najnowsze składanki</h3>
    </div>
    <div *ngFor="let playlist of playlists" class="text-center" style="color: #d4d4d4; background-color: #181818">
      <p class="panel-playlists" routerLink="playlist/{{playlist.id}}/details" style="color: white;">
        {{ playlist.user.username }} - {{ playlist.name }}
      </p>
    </div>
  </div>-->
  <!-- endregion -->

  <!-- region RECENTLY JOINED -->
<!--  <div class="panel panel-default" style="background-color: #181818">
    <div class="panel-heading" style="background-color: #610061; margin-bottom: 5px">
      <h3 class="panel-title" style="color: white">Ostatnio dołączyli</h3>
    </div>
    <div *ngFor="let user of users" class="text-center" style="color: #d4d4d4; background-color: #181818">
      <p class="panel-playlists" style="color: white;">{{ user.username }}</p>
    </div>
  </div>-->
  <!-- endregion -->

</div>


