.post{
  --post-line-color: #ccc;
  border: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: rgba(255,255,255,0.7);
  color: #878A8C;
  position: relative;
  border-radius: 4px;
  padding:5px;
}

.btnCommments{
  border-radius: 2px solid;
  color: #878A8C;
  opacity: 1;
}

.btnCommments:hover{
  opacity: 0.65;
  cursor: pointer;
}

.post-title{
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  opacity: 1;
}

.posturl, .postname{
  color: black;
}

.subreddit-text{
  font-weight: bold;
}

.post-text{
  margin-top: 10px;
}

.info-area {
  border-bottom: rebeccapurple 2px solid;
}

.image-area {
  margin-right: 10px;
  border: solid 3px black;
  height: min-content;
}

.image-area-mobile {
  border: solid 3px black;
  height: min-content;
  width: 100%;
  max-width: 5em;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;

  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.youtube {
  background-color: #000;
  margin-bottom: 30px;
  position: relative;
  padding-top: 10%;
  overflow: hidden;
  cursor: pointer;
}
.youtube img {
  width: 100%;
  top: -16.84%;
  left: 0;
  opacity: 0.7;
}
.youtube .play-button {
  width: 90px;
  height: 60px;
  background-color: #333;
  box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
  z-index: 1;
  opacity: 0.8;
  border-radius: 6px;
}
.youtube .play-button:before {
  content: "";
  border-style: solid;
  border-width: 15px 0 15px 26.0px;
  border-color: transparent transparent transparent #fff;
}
.youtube img,
.youtube .play-button {
  cursor: pointer;
}
.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before {
  position: absolute;
}
.youtube .play-button,
.youtube .play-button:before {
  top: 50%;
  left: 50%;
  transform: translate3d( -50%, -50%, 0 );
}
.youtube iframe {
  height: 100%;
  width: 100%;
  top: 0;
}


.btn-download {
  font-family: Hack, monospace;
  background: #cecbd4;
  color: #1d1d1d;
  cursor: pointer;
  font-size: 1em;
  padding: 0.5rem;
  border: 1px solid rebeccapurple;
  transition: all 0.5s;
  border-radius: 10px;
  width: auto;
  position: relative;
  min-width: 200px;

  &::after {
    font-weight: 400;
    position: absolute;
    left: 80%;
    top: 54%;
    right: 0;
    bottom: 0;
    opacity: 0;
    transform: translate(-50%, -50%);

  }

  &:hover {
    background: #411c92;
    transition: all 0.5s;
    border-radius: 10px;
    box-shadow: 0px 6px 15px #411c92;
    color: #ffffff;
  }
}

.glowing-border {
  outline: none;
  box-shadow: 0 0 10px #ffffff;
}
