<div class="example-container" style="background-color: rgba(0,0,0,0.8);">

  <h3 style="color: white">Playlista: {{playlist.name}}</h3>

  <div class="col-md-9">
    <div class="row">
      <div class="col-md-12">
        <p *ngIf="this.tracks.length === 0">Nie ma żadnych utworów w tej składance</p>
      </div>
    </div>
  </div>


  <!-- Track list -->
  <table class="table">
    <thead style="color: white">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Artist</th>
      <th scope="col">Title</th>
      <th scope="col">Version</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let track of tracks; index as i">
      <th scope="row" style="color: white">{{ i + 1 }}</th>
      <td><input type="text"
             [(ngModel)]="track.artist"
             (change)="updateTrack(track)"
             class="input-label-lg"
             maxlength="18" style="width: 100%"
             value="{{track.artist}}"/></td>
      <td><input type="text"
             [(ngModel)]="track.title"
             (change)="updateTrack(track)"
             class="input-label-lg"
             maxlength="18" style="width: 100%"
             value="{{track.title}}"/></td>
      <td><input type="text"
             [(ngModel)]="track.version"
             (change)="updateTrack(track)"
             class="input-label-lg"
             maxlength="18" style="width: 100%"
             value="{{track.version}}"/></td>
      <td>
        <a (click)="deleteTrack(track.id)" class="pull-right text-danger">
          <i class="material-icons" style="float:right;">delete</i>
        </a>
      </td>
    </tr>
    </tbody>
  </table>

  <!-- ADDING TRACK TO PLAYLIST PANEL -->
  <div class="container" id="form1">
    <div class="row">
      <div class="col-25">
        <label for="artist" style="color: white">Artysta</label>
      </div>
      <div class="col-75">
        <input #newArtist
               type="text"
               id="artist"
               name="artist"
               class="input-label-lg"
               maxlength="18"
               value=""/>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="title" style="color: white">Tytuł</label>
      </div>
      <div class="col-75">
        <input #newTitle
               type="text"
               id="title"
               name="title"
               class="input-label-lg"
               maxlength="18"
               value=""/>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="version" style="color: white">Wersja</label>
      </div>
      <div class="col-75">
        <input #newVersion
               type="text"
               id="version"
               name="version"
               class="input-label-lg"
               maxlength="18"
               value=""/>
        </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="genre" style="color: white">Gatunek</label>
      </div>
      <div class="col-75">
        <select #newGenre
                formControlName="orders"
                id="genre"
                name="genre">
          <option *ngFor="let genre of genres" [value]="genre">
            {{genre}}
          </option>
        </select>
      </div>
    </div>
  </div>

  <div class="pull-right">
    <button mat-raised-button
            (click)="addTrackToPlaylist(newArtist.value, newTitle.value, newVersion.value, newGenre.value)"
            type="submit"
            id="button1"
            color="primary"
            style="margin-left: 10px;">Dodaj utwór
    </button>
    <button mat-raised-button
            id="formButton"
            class="formButton"
            type="submit"
            color="primary"
            style="margin-left: 10px;">Dodaj nowy utwór
    </button>
  </div>

  <button mat-raised-button
          id="buttonSave"
          type="button"
          class="buttonSave btn btn-warning pull-left"
          routerLink="../details"
          style="margin-left: 10px; margin-top: 10px">Zapisz playlistę
  </button>
</div>

