.shadowbox {
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  padding: 8px 12px;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
}

/* Card effect for articles */
.card {
  background-color: #afafaf;
  background-color: rgba(0,0,0,0.8);
  width: 100%;
  padding: 20px;
  border: 0.1rem solid #333;
  color: white;
}

.mobile-card {
  background-color: #afafaf;
  width: 100%;
  padding: 20px;
  margin-top: 20px;
  border: 1px solid #333;
  color: white;
  background-color: rgba(27,27,27,0.8);
}

.card-description {
  color: rgb(255,255,255);
  margin-bottom: 20px;
}

.card-button {
  left: 40%;
  width: 20%
}

.card-image {
  text-align: center;
  align-content: center;
}

.card-date {
  margin-top: 1em;
  align-content: center;
}

.glowing-border {
  outline: none;
  box-shadow: 0 0 10px #9ecaed;
}

.header-mobile {
  font-size: 1em;
}

.card-header {
  font-size: 1.5em;
  text-align: center;
  color: white
}

.mobile-card-header {
  font-size: 1.5em;
  text-align: center;
  color: white
}

.main-message {
  font-size: 1.5em;
  text-align: center;
  color: white;
}

