<!--<div class="example-container">-->
<div style="display: inline-block; text-align: center; width: 100%; border: 5px purple solid; background: white">
  <!-- Post content -->

  <div class="panel panel-default">
    <div class="panel-heading" style="margin-bottom: 5px">
      <h3 class="panel-title">Najnowsze utwory użytkowników</h3>
    </div>

    <mat-tab-group animationDuration="0ms">
      <mat-tab label="{{genre.toString()}}" *ngFor="let genre of genres" >
        <mat-card-content>
          <!-- Track list -->
          <table class="table" style="background-color: rgba(0,0,0,0.8); color: white; margin-top: 5px">
            <thead>
            <tr>
              <th scope="col" style="text-align: center; font-size: 18px">#</th>
              <th scope="col" style="text-align: center; font-size: 18px">Artysta</th>
              <th scope="col" style="text-align: center; font-size: 18px">Tytuł</th>
              <th scope="col" style="text-align: center; font-size: 18px">Wersja</th>
              <th *ngIf="isLoggedIn" scope="col" style="text-align: center; font-size: 18px">User</th>
              <th *ngIf="isLoggedIn" scope="col" style="text-align: center; font-size: 18px">Data dodania</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let track of tracks | slice:0:30; let i=index;">
              <th *ngIf="track.genre===genre" scope="row" style="text-align: center; vertical-align: middle;">{{ track.position }}</th>
              <td *ngIf="track.genre===genre" style="text-align: center; vertical-align: middle;">{{ track.title }}</td>
              <td *ngIf="track.genre===genre" style="text-align: center; vertical-align: middle;">{{ track.artist }}</td>
              <td *ngIf="track.genre===genre" style="text-align: center; vertical-align: middle;">{{ track.version }}</td>
              <td *ngIf="track.genre===genre" style="text-align: center; vertical-align: middle;">{{ track.user.username }}</td>
              <td *ngIf="track.genre===genre" style="text-align: center; vertical-align: middle;">
                {{ track.createdAt.substring(0, track.createdAt.indexOf('T')) }}
              </td>
            </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>

  </div>
</div>
