.video-container {
  margin-top: 2em;
}

.video-list {
  margin: 0.5em 1em 1em;
}

.buttons-area {
  margin-right: 1.2em;
  margin-left: 1.2em;
  margin-bottom: 1em;
}

.search-field {
  margin: 10px;
}

.expansion-panel {
  text-align: center;
  color: white;
  margin: 0.5em;
  background-color: #3c0047
}

.panel-main-title {
  color: white;
  font-size: 1.5em;
}

.expansion-panel-header {
  color: white;
}

.button-area {
  margin-top: 2em;
}

.title-table {
  color:white;
  border: 1px solid #ddd;
}

.title-table-name {
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  margin: 1em;
  font-size: 2em;
}
