.video-container {
  margin-top: 20px;
}

.search-field {
  margin-right: 15px;
  margin-bottom: 20px;
}

.expansion-panel {
  text-align: center;
  color: white;
  background-color: #3c0047
}

.panel-main-title {
  color: white;
  font-size: 1.5em;
}

.expansion-panel-header {
  color: white;
}

.button-area {
  margin-top: 20px;
}
