<div class="user-container">

  <!-- THE NEWEST USERS -->
  <div class="panel panel-default">
    <div class="panel-heading" style="margin-bottom: 5px;">
      <h2 class="panel-title">Ostatnio dołączyli</h2>
    </div>

    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col" style="text-align: center">#</th>
        <th scope="col" style="text-align: center">Użytkownik</th>
        <th scope="col" style="text-align: center">Data utworzenia</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users | slice:0:5; let i=index;">
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.createdAt.slice(0, user.createdAt.indexOf('T')) }}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <!-- SEARCH USERS PANEL -->
  <div class="panel panel-default search-user-container">
    <div class="panel-heading">
      <h2 class="panel-title">Wyszukaj użytkownika</h2>
    </div>
    <div class="md-form" style="margin: 1em">
      <input type="search" [(ngModel)]="searchText" placeholder="Wprowadź nazwę usera...">
    </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col" style="text-align: center">#</th>
        <th scope="col" style="text-align: center">Użytkownik</th>
        <th scope="col" style="text-align: center">Data utworzenia</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users | userFilter:searchText">
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


