.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

body{
  font-family: 'Poppins', sans-serif;
}

.copyright{
  align-content: center;
  text-align: center;
  background-color: rgba(0,0,0,0.4);
}

.copyright p{
  margin:10px;
}

footer{
  background-color: rgba(0,0,0,0.4);
  padding: 25px ;
}

footer .menu li a{
  color:#b1aca1;
  padding:10px;
  text-decoration:none;
}

footer .menu li a:hover{
  color:#7dabdb;
}

.fa.fa-facebook ,
.fa.fa-github ,
.fa.fa-linkedin ,
.fa.fa-soundcloud ,
.fa.fa-youtube {
  color:#b1aca1;
  font-size:20px;
  padding:10px;
}

.fa.fa-facebook:hover,
.fa.fa-github:hover,
.fa.fa-linkedin:hover,
.fa.fa-soundcloud:hover,
.fa.fa-youtube:hover {
  color:#6794c2;
}
