<div class="article-container">

  <!-- region TABLE -->
  <div class="panel panel-default">
    <div class="panel-heading" style="margin-bottom: 5px">
      <h2 class="panel-title">Najnowsze posty</h2>
    </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col" style="text-align: center">#</th>
        <th scope="col" style="text-align: center">Tytuł</th>
        <th scope="col" style="text-align: center">Użytkownik</th>
        <th scope="col" style="text-align: center">Data utworzenia</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let post of posts | slice:0:5; let i=index;">
        <td>{{ post.id }}</td>
        <td>{{ post.title }}</td>
        <td>{{ post.user.username }}</td>
        <td>{{ post.createdAt.substr(0, post.createdAt.indexOf('T')) }}</td>
      </tr>
      </tbody>
    </table>

    <!-- region BUTTONS -->
    <div class="buttons-container">
      <span class="button-container">
        <button mat-raised-button
                type="button"
                color="primary"
                routerLink="/post/add">Dodaj nowy post
        </button>
      </span>
      <span class="button-container">
        <button mat-raised-button
                type="button"
                color="primary"
                routerLink="/post/user/{{username}}">Pokaż więcej
        </button>
      </span>
    </div>
  </div>
</div>
<!--</div>-->
