.votebox {
  display: flex;
  text-align: center;
  flex-direction: column;
  font-size: 1em;
}

.votesection {
  margin: 0;
  background-color: #ffffff;
}
.upvote,.downvote {
  cursor: pointer;
  border-radius: 2px;
}
.upvote:hover {
  color: green;
}
.downvote:hover {
  color: red;
}

.votecount{
  font-weight: bold;
  color: black;
  background-color: gray;
  font-size: 17px;
  border-top: solid 1px black;
}

.votecountPlus{
  font-weight: bold;
  color: black;
  background-color: green;
  font-size: 17px;
  border-top: solid 1px black;
}

.votecountMinus{
  font-weight: bold;
  color: black;
  background-color: red;
  font-size: 17px;
  border-top: solid 3px black;
}

.votecount.green{
  font-weight: bold;
  color: black;
  background-color: green;
  font-size: 17px;
}

.votecount.default{
  font-weight: bold;
  color: black;
  background-color: gray;
  font-size: 17px;
}

#upvoteButton:focus {
  filter: grayscale(70%);
}

