<div class="container video-container title-table glowing-border" style="max-width: 1000px">

  <!-- VIDEO PAGE TITLE -->
  <div>
    <div class="title-table-name">VIDEO - kategoria {{category}}</div>
  </div>

  <div class="buttons-area">
    <label class="search-field">
      <p>Wyszukiwarka</p>
      <input type="text"
             [(ngModel)]="searchText"
             class="mat-form-field"
             style="color: black"
             placeholder="Wyszukaj video..." />
    </label>

    <button mat-raised-button
            *ngIf="showAdminBoard"
            type="button"
            color="primary"
            routerLink="/video/add">Dodaj video
    </button>
  </div>

  <div class="video-list">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let video of videos | videoFilter:searchText" class="expansion-panel">
        <mat-expansion-panel-header class="expansion-panel-header">
          <mat-panel-title class="panel-main-title">
            {{ video.name }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <iframe [src]=video.safeUrl width="854" height="480"></iframe>
          <br/>
          <div class="button-area">
            <button *ngIf="isLoggedIn"
                    mat-flat-button
                    color="primary"
                    [routerLink]="['/video', video.id, 'details']">Pokaż tracklistę / Sprawdź szczegóły
            </button>
            <button *ngIf="!isLoggedIn"
                    mat-stroked-button
                    color="primary"
                    [routerLink]="['/login']">Zaloguj się, aby zobaczyć tracklistę!
            </button>
          </div>
        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
