<div *ngIf="currentUser; else loggedOut" class="card" style="background-color: rgba(27,27,27,0.8);">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card bg-transparent">

          <!-- AVATAR WITH BASIC INFO -->
          <div class="card-body bg-transparent">
            <div class="card-title mb-4">
              <div class="d-flex justify-content-start">
                <div class="image-container" style="margin-right: 1rem">
                  <img [src]="imageToShow" width="150" height="150"
                       alt="Avatar user"
                       style="color: white"
                       *ngIf="isImage; else noImageFound">
                  <ng-template #noImageFound>
                    <img id="profile-imgs" width="150" height="150"
                         src="/assets/img/user_avatar.png"
                         class="profile-img-card"
                         alt="Avatar default"/>
                  </ng-template>
                </div>

                <div *ngIf="currentUser" class="userData">
                  <h4 class="d-block" id="username">{{currentUser.username}}</h4>
                  <button mat-stroked-button value="Zmień zdjęcie" color="primary" id="buttonChangeImage"
                          onclick="showAvatarForm()">Zmień zdjęcie profilowe
                  </button>
                  <button mat-stroked-button value="Edytuj profil" color="primary" id="buttonEditProfile"
                          [routerLink]="['/profile', 'edit']">Edytuj profil
                  </button>
                  <button mat-stroked-button type="button" color="primary" id="buttonChangePassword"
                          [routerLink]="['/profile', 'edit', 'changePassword']">Zmień hasło</button>
                  <label style="display:none;" id="avatarForm" class="image-upload-container btn btn-bwm">
                    <button class="btn btn-success" style="margin-right: 20px" [disabled]="!selectedFile" (click)="upload()">Upload</button>
                    <input type="file" accept='image/*' (change)="selectFile($event)" />
                  </label>
                </div>
              </div>
            </div>

            <!-- INFORMATION DETAILS -->
            <div class="row">
              <div class="col-12">
                <!-- TABS -->
                <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                  <li class="nav-item active">
                    <a class="nav-link" id="basicInfo-tab" data-toggle="tab" href="#basicInfo"
                       role="tab" aria-controls="basicInfo" aria-selected="true">Podstawowe informacje</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="addedTracks-tab" data-toggle="tab" href="#addedTracks"
                       role="tab" aria-controls="connectedServices" aria-selected="false">Dodane utwory</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="favouriteTracks-tab" data-toggle="tab" href="#favouriteTracks"
                       role="tab" aria-controls="connectedServices" aria-selected="false">Ulubione</a>
                  </li>
                </ul>

                <!-- TAB CONTENT-->
                <div *ngIf="currentUser" class="tab-content ml-1">
                  <div class="tab-pane fade in active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
                    <div class="row" style="color: white">
                      <div class="col-sm-3 col-md-2 col-5"><label style="font-weight:bold;">Nazwa użytkownika</label></div>
                      <div class="col-md-8 col-6">{{ currentUser.username }}</div>
                    </div>
                    <hr />
                      <div class="row" style="color: white"><div class="col-sm-3 col-md-2 col-5"><label style="font-weight:bold;">Email</label></div>
                        <div class="col-md-8 col-6">{{ currentUser.email }}</div>
                      </div>
                    <hr />
                      <div class="row" style="color: white"><div class="col-sm-3 col-md-2 col-5"><label style="font-weight:bold;">Imię</label></div>
                        <div class="col-md-8 col-6">{{ currentUser.firstName }}</div>
                      </div>
                    <hr />
                      <div class="row" style="color: white"><div class="col-sm-3 col-md-2 col-5"><label style="font-weight:bold;">Miejscowość</label></div>
                        <div class="col-md-8 col-6">{{ currentUser.city }}</div>
                      </div>
                    <hr />
                      <div class="row" style="color: white"><div class="col-sm-3 col-md-2 col-5"><label style="font-weight:bold;">Youtube</label></div>
                        <div class="col-md-8 col-6">{{ currentUser.youtubeUrl }}</div>
                      </div>
                    <hr />
                      <div class="row" style="color: white"><div class="col-sm-3 col-md-2 col-5"><label style="font-weight:bold;">Facebook</label></div>
                        <div class="col-md-8 col-6">{{ currentUser.facebookUrl }}</div>
                      </div>
                    <hr />
                      <div class="row" style="color: white"><div class="col-sm-3 col-md-2 col-5"><label style="font-weight:bold;">Data rejestracji</label></div>
                        <div *ngIf="currentUser.createdAt" class="col-md-8 col-6">{{ currentUser.createdAt.substring(0, currentUser.createdAt.indexOf('T')) }}</div>
                      </div>
                    <hr />
                  </div>
                  <div class="tab-pane fade" id="addedTracks" role="tabpanel" aria-labelledby="AddedTracks-tab">
                    <ul class="list-group">
                      <li *ngFor="let track of tracks" class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="track/{{track.id}}" class="list-group-item list-group-item-action flex-column align-items-start">
                          {{ track.artist }} - {{ track.title }} ({{track.version}})
                          <span class="badge badge-primary badge-pill">Punkty: {{track.points}}</span>
                        </a>
                      </li>
                    </ul>
                    <div>
                      <a [routerLink]="['tracks']" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">
                        Pokaż wszystkie utwory
                      </a>
                    </div>
                  </div>

                  <div class="tab-pane fade" id="favouriteTracks" role="tabpanel" aria-labelledby="FavouriteTracks-tab">
                    <ul class="list-group">
                      <li *ngFor="let track of favoriteTracksByUser" class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="track/{{track.id}}" class="list-group-item list-group-item-action flex-column align-items-start">
                          {{ track.artist }} - {{ track.title }} ({{track.version}})
                          <span class="badge badge-primary badge-pill">Punkty: {{track.points}}</span>
                        </a>
                      </li>
                    </ul>
                    <div>
                      <a [routerLink]="['tracks']" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">
                        Pokaż wszystkie ulubione
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #loggedOut>
  Please login.
</ng-template>
