body {
  padding-top: 68px;
  padding-bottom: 50px;
}

.profile-container {
  background-color: rgba(27,27,27,0.8);
}

.image-container {
  position: relative;
}

.header-container-mobile {
  margin-bottom: 1em;
}

.image-container-mobile {
  width: 50%;
  float: left;
}

.buttons-container-mobile {
  width: 50%;
  float:right;
}

.image-profile {
  object-fit:contain;
  width:150px;
  height:150px;
  color: white;
  border: solid 1px #CCC
}

.image-profile-mobile {
  object-fit:contain;
  width: 10em;
  height: 10em;
  color: white;
  border: solid 1px #CCC
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.image-container:hover .image {
  opacity: 0.3;
}

.image-container:hover .middle {
  opacity: 1;
}

.btn-bwm {
  background-color: #000000;
  border-color: #511b61;
  color: white;
  padding: 15px 30px;
  font-size: 20px;
}

input {
  display: none;
}

.image-upload-container {
  cursor: pointer;
}

.img-preview-container {
  background-color: #f7f7f7;
  position: relative;
}

.img-preview {
  background: center center no-repeat;
  background-size: contain;
  height: 116px;
  width: 116px;
}

.username-text {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  text-align: center;
}

.header-button-mobile {
  margin: 0.3em;
  background-color: white
}

.information-nav {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1em;
}

.list-element {
  font-size: 1em;
  color: white
}

.text-key {
  font-weight: bold;
  font-size: 1em;
}

.text-value {
  font-size: 1em;
}

.mat-divider{
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: rgb(102, 0, 136);
  margin-top: 1em;
}
