<div class="example-container">
  <div>
    <mat-card-title>Wszystkie posty dodane przez użytkownika {{username}}</mat-card-title>
    <!-- Post content -->
    <div *ngIf="isLoggedIn"
         class="row"
         style="color: white; margin-top: 28px; width: 100%; text-align: center; display: inline-block">
      <table class="table" style="margin: 0 auto">
        <thead>
        <tr>
          <th scope="col" style="text-align: center">#</th>
          <th scope="col" style="text-align: center">Tytuł</th>
          <th scope="col" style="text-align: center">Użytkownik</th>
          <th scope="col" style="text-align: center">Data utworzenia</th>
          <th scope="col" style="text-align: center"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let post of posts | slice:0:10; let i=index;">
          <td>{{ post.id }}</td>
          <td>{{ post.title }}</td>
          <td>{{ post.user.username }}</td>
          <td>{{ post.createdAt.substr(0, post.createdAt.indexOf('T')) }}</td>
          <td>
            <i class="material-icons" (click)="deletePost(post.id)" style="float:right;">delete</i>
            <i class="material-icons" style="float:right; margin-right: 2px;" [routerLink]="['/post', post.id, 'edit']">edit</i>
            <i class="material-icons" style="float:right; margin-right: 2px;" [routerLink]="['/post', post.id, 'details']">slideshow</i>
          </td>
        </tr>
        </tbody>
      </table>



    </div>

    <div style="text-align: left; margin-top: 10px">
      <button mat-raised-button
              type="button"
              color="primary"
              routerLink="/post/add">Dodaj nowy post
      </button>
    </div>

    <div class="alert alert-warning" role="alert" *ngIf="!isLoggedIn">
      <a routerLink="/login">Zaloguj się</a>, jeśli chcesz zobaczyć Twoje posty!
    </div>

  </div>
</div>
