<!-- TOP HEADER PANEL -->
<mat-toolbar fxLayout="row" color="primary" style="border-bottom:3px solid purple;" >
  <button mat-icon-button (click)="navigationService.openNav()" fxShow="true" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
  <img src="../../assets/img/logo_oskarro.png" height="40" width="40" style="margin-right: 20px">
  <span fxFlex>{{title}}</span>
  <span class="example-spacer"></span>
  <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon" fxHide.xs>headset</mat-icon>

  <button mat-button routerLink="/admin/panel" *ngIf="showAdminBoard" fxHide.xs>Admin</button>
  <button mat-button routerLink="/register" *ngIf="!isLoggedIn" fxHide.xs>Zarejestruj się</button>
  <button mat-button routerLink="/login" *ngIf="!isLoggedIn" fxHide.xs>Zaloguj się</button>
  <button mat-button routerLink="/profile" *ngIf="isLoggedIn" fxHide.xs>{{ username }}</button>
  <button mat-button (click)="logout()" *ngIf="isLoggedIn" fxHide.xs>Wyloguj się</button>

</mat-toolbar>
<!-- END -->


<!-- NAVIGATION PANEL PANEL -->
<div class="row" id="navigation-menu">
    <button mat-button routerLink="/" style="color: white; font-size: 17px;" fxHide.xs>Strona główna</button>

    <button mat-button [matMenuTriggerFor]="tracksMenu" style="color: white; font-size: 17px;" fxHide.xs>Utwory</button>
    <mat-menu #tracksMenu="matMenu" yPosition="below">
      <button [routerLink]="['/tracks', 'vixa']" mat-menu-item>Vixa</button>
      <button [routerLink]="['/tracks', 'club']" mat-menu-item>Club</button>
      <button [routerLink]="['/tracks', 'dance']" mat-menu-item>Dance</button>
      <button [routerLink]="['/tracks', 'retro']" mat-menu-item>Retro</button>
      <button [routerLink]="['/tracks', 'techno']" mat-menu-item>Techno</button>
      <button [routerLink]="['/tracks', 'disco']" mat-menu-item>Disco</button>
      <button [routerLink]="['/tracks', 'set']" mat-menu-item>Sety/Mixy</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="genreMenu" style="color: white; font-size: 17px;" fxHide.xs>Top ranking</button>
      <mat-menu #genreMenu="matMenu" yPosition="below">
        <button mat-menu-item routerLink="/tracklist/vixa">Vixa</button>
        <button mat-menu-item routerLink="/tracklist/club">Club</button>
        <button mat-menu-item routerLink="/tracklist/dance">Dance</button>
        <button mat-menu-item routerLink="/tracklist/disco">House</button>
        <button mat-menu-item routerLink="/tracklist/techno">Retro</button>
        <button mat-menu-item routerLink="/tracklist/set">Sety/Mixy</button>
      </mat-menu>

<!--    <button mat-button [matMenuTriggerFor]="providerMenu" style="color: white">Serwisy</button>-->
<!--      <mat-menu #providerMenu="matMenu" xPosition="after">-->
<!--        <button mat-menu-item routerLink="/provider/1/details">Nuteczki</button>-->
<!--        <button mat-menu-item routerLink="/provider/2/details">Radioparty</button>-->
<!--        <button mat-menu-item routerLink="/provider/4/details">Billboard</button>-->
<!--        <button mat-menu-item routerLink="/provider/8/details">Apple</button>-->
<!--      </mat-menu>-->

<!--    <button mat-button [matMenuTriggerFor]="topMenu" style="color: white">Top ranking</button>-->
<!--      <mat-menu #topMenu="matMenu" xPosition="after">-->
<!--        <button mat-menu-item routerLink="/toplist/retro">Retro</button>-->
<!--        <button mat-menu-item routerLink="/toplist/club">Club</button>-->
<!--        <button mat-menu-item routerLink="/toplist/dance">Dance</button>-->
<!--        <button mat-menu-item routerLink="/toplist/house">House</button>-->
<!--        <button mat-menu-item routerLink="/toplist/techno">Techno</button>-->
<!--      </mat-menu>-->

    <button mat-button [matMenuTriggerFor]="videoMenu" style="color: white; font-size: 17px;" fxHide.xs>Video</button>
      <mat-menu #videoMenu="matMenu" xPosition="after">
        <button mat-menu-item routerLink="/video/category/MIX">Mixy</button>
        <button mat-menu-item routerLink="/video/category/LUNA_MIX">Luna Mix</button>
        <button mat-menu-item routerLink="/video/category/PSYCHO_PATH">Psychopath</button>
        <button mat-menu-item routerLink="/video/category/RETRO">Retro</button>
        <button mat-menu-item routerLink="/video/all">Pokaż wszystkie</button>
      </mat-menu>

<!--    <button mat-button [matMenuTriggerFor]="playlistMenu" style="color: white">Playlist</button>-->
<!--      <mat-menu #playlistMenu="matMenu" xPosition="after">-->
<!--        <button mat-menu-item routerLink="/playlist/all">Playlisty użytkowników</button>-->
<!--        <button mat-menu-item *ngIf="isLoggedIn" routerLink="/playlist/all/{{username}}">Moje składanki</button>-->
<!--      </mat-menu>-->
</div>
<div class="fade-effect1"></div>
<!-- END -->

<mat-sidenav-container fxFlexFill>
  <mat-sidenav #appDrawer mode="over" opened="false">
    <mat-nav-list>
      <a (click)="navigationService.closeNav()" mat-list-item>Close</a>
      <a mat-list-item *ngIf="!isLoggedIn" routerLink="/login">
        <mat-icon class="routeIcon" style="margin-right: 15px;">slideshow</mat-icon>Zaloguj się
      </a>
      <a mat-list-item class="menu-list-item" *ngIf="!isLoggedIn" routerLink="/signup">
        <mat-icon class="routeIcon" style="margin-right: 15px;">slideshow</mat-icon>Zarejestruj się
      </a>
      <a mat-list-item class="menu-list-item" *ngIf="isLoggedIn" routerLink="/profile">
        <mat-icon class="routeIcon" style="margin-right: 15px;">slideshow</mat-icon>Panel użytkownika
      </a>
      <app-menu-list-item *ngFor="let item of navItems" [item]="item"></app-menu-list-item>
      <a mat-list-item class="menu-list-item" *ngIf="isLoggedIn" (click)="logout()">
        <mat-icon class="routeIcon" style="margin-right: 15px;">slideshow</mat-icon>Wyloguj się
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content *ngIf="!getIsMobileResolution()">
      <div style="background: #121e1b url(../../assets/img/templatemo_main_bg.png) repeat;">
      <div class="row">
        <div class="col" style="margin-left: 10px; margin-top: 30px;">
<!--          <app-sidebar-left></app-sidebar-left>-->
        </div>

        <div class="col-8" style="background-color: rgba(0,0,0,0.4); margin-top: 20px;">
          <app-alert></app-alert>
          <router-outlet></router-outlet>
        </div>
        <div class="col" style="margin-right: 10px; margin-top: 30px;">
          <app-sidebar-right></app-sidebar-right>
        </div>
      </div>
      <!-- footer -->
      <app-footer class="mt-auto"></app-footer>
    </div>
  </mat-sidenav-content>

  <mat-sidenav-content *ngIf="getIsMobileResolution()" fxFlexFill>
    <div class="container" style="background-color: black">
      <div fxLayout="column" fxLayoutAlign="space-evenly center" fxFlexFill>
        <div style="margin-left: 10px">
<!--          <app-sidebar-left></app-sidebar-left>-->
        </div>
        <div style="width: 100%">
          <app-alert></app-alert>
          <router-outlet></router-outlet>
        </div>
        <div style="margin-right: 10px">
          <app-sidebar-right></app-sidebar-right>
        </div>
      </div>
      <!-- footer -->
      <app-footer class="mt-auto" fxHide.lt-md="true"></app-footer>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
