@use 'node_modules/@angular/material' as mat;
@import '~@angular/material/theming';

// always include only once per project
@include mat.core();

// import our custom theme
@import 'theme.scss';

/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  display: block;
  height: 100%;
  background-color: #ffffff;
}

body {
  margin: 0;
}

.full-height {
  height: 100%;
}

#header {
  height: 200px;
  width: 100%;
  background-color: black;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-bottom-color: green;
  margin-bottom: 15px;
}

#footer {
  clear: both;
  margin: 0 auto;
  text-align: center;
}

.mat-toolbar.mat-primary {
  background: #000000;
  color: #ffffff;
}

.mat-flat-button.mat-primary {
  background: purple;
  color: #ffffff;
}

.mat-stroked-button.mat-primary {
  background: purple;
  color: #ffffff;
}

.mat-tab-group.mat-accent {
  background: purple;
}

.mat-divider{
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: rgba(219, 204, 204, 0.43);
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.both-sidebar {
  background-color: purple
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .iframe_track {
    -ms-zoom: 0.7;
    -moz-transform: scale(0.7);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.7);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.7);
    -webkit-transform-origin: 0 0;
  }

  .up_down_button {
    width: 20%;
    height: 20%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .iframe_track {
    -ms-zoom: 0.7;
    -moz-transform: scale(0.7);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.7);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.7);
    -webkit-transform-origin: 0 0;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .iframe_track {
    -ms-zoom: 0.7;
    -moz-transform: scale(0.7);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.7);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.7);
    -webkit-transform-origin: 0 0;
  }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .iframe_track {
    -ms-zoom: 1;
    -moz-transform: scale(1);
    -moz-transform-origin: 0 0;
    -o-transform: scale(1);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(1);
    -webkit-transform-origin: 0 0;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
