<div class="example-container">

  <div class="form-title">Dodaj nowy artykuł</div>
  <form (ngSubmit)="onSubmit()" class="form-container" role="form" accept-charset="UTF-8" novalidate>

    <!-- ARTICLE TITLE -->
    <div class="part-title">Tytuł</div>
    <input [(ngModel)]="modelPost.title"
           #PostTitle
           class="form-control"
           autofocus autocomplete="none"
           type="text"
           name="Article title"
           placeholder="Enter title"
           required
           id="PostTitle">

    <!-- ARTICLE DESCRIPTION -->
    <div class="part-title">Opis artykułu</div>
    <ckeditor [config]="ckeConfigForDescription"
              [(ngModel)]="modelPost.description"
              #PostDescription
              name="Article description"
              debounce="100"
              required
              id="PostDescription">
    </ckeditor>

    <!-- ARTICLE CONTENT -->
    <div class="part-title">Główna zawartość</div>
    <ckeditor [(ngModel)]="modelPost.content"
              [config]="ckeConfigForContent"
              #PostContent
              name="Article content"
              required
              debounce="500">
    </ckeditor>

    <!-- ARTICLE IMAGE -->
    <div class="article-part">
      <div class="image-title">Dodaj zdjęcie</div>
      <input class="image-part" type="file" accept='image/*' (change)="selectFile($event)">
    </div>

    <!-- BUTTON -->
    <div class="form-group mt-4">
      <div class="row">
        <div class="col-3 col-md-3 mb-3">
          <button mat-raised-button
                  (click)="createPost(PostTitle.value, PostDescription.value, PostContent.value)"
                  routerLink="/post/user/{{modelUser.username}}"
                  type="button"
                  color="primary">Dodaj post
          </button>
        </div>
      </div>
    </div>
  </form>


</div>
