<div class="container" style="max-width: 1000px">

  <div style="color: white; margin: 5px">
    <h3>Twoje playlisty</h3>
  </div>

  <!-- Playlist menu -->
  <div class="search-panel">
    <input type="text"
           [(ngModel)]="searchText"
           class="mat-form-field"
           style="width: 100%;"
           placeholder="Wyszukaj playlistę..." />
  </div>

  <!-- Playlist content -->
  <div style="margin-top: 10px; width: 100%; text-align: center; display: inline-block">
    <div class="list-group list-group-flush">
      <div *ngFor="let playlist of playlists | playlistFilter:searchText">
        <a class="list-group-item list-group-item-action"
           style="background: black; color: white; border: rebeccapurple 1px solid; margin-top: 3px">
          {{ playlist.name }}
          <i class="material-icons" (click)="deletePlaylist(playlist.id)" style="float:right;">delete</i>
          <i class="material-icons" style="float:right; margin-right: 2px;" [routerLink]="['/playlist', playlist.id, 'edit']">edit</i>
          <i class="material-icons" style="float:right; margin-right: 2px;" [routerLink]="['/playlist', playlist.id, 'details']">slideshow</i>
        </a>
      </div>
    </div>
  </div>

  <div *ngIf="isLoggedIn" style="text-align: center; margin-bottom: 3px">
    <button type="button" class="btn btn-dark" [routerLink]="['/playlist', 'add']">Dodaj playlistę</button>
  </div>

  <div class="alert alert-warning" role="alert" *ngIf="!isLoggedIn">
    <a routerLink="/login">Zaloguj się</a>, jeśli chcesz zobaczyć Twoje playlisty!
  </div>

</div>
