<div class="card" style="background-color: rgba(27,27,27,0.8);">
  <header class="mat-card-title">
    <p *ngIf="isLoggedIn">Cześć {{ currentUser.username }} !</p>
    <p *ngIf="!isLoggedIn">Jesteś nowy? <a routerLink="/register">Dołącz do naszej ekipy</a></p>
  </header>

  <!-- Post list content -->
  <div style="margin-bottom: 20px;">
    <div *ngFor="let post of posts | slice:0:5; let i=index;" class="card">
      <div class="card-header">
        <h4 class="card-title">{{post.title}}</h4>
      </div>

      <div>
        <img *ngIf="this.imagesToShow.get(post.id); else noCoverFound"
             [src]="this.imagesToShow.get(post.id) | byPassSecurity" alt="Zdjęcie do utworu {{post.title}}">
        <ng-template #noCoverFound>
          <img id="profile-img" width="430"
               src="/assets/img/reklama_logo.jpg"
               alt="Domyślne zdjęcie do utworu {{post.title}}">
        </ng-template>
      </div>



      <div class="card-body text-center">
        <hr style="width:70%; left: 15%;">
        <div [innerHTML]="post.description" class="card-description card-text"></div>
        <button [routerLink]="['post', post.id, 'details']" type="submit" class="btn btn-secondary card-button">
          Przeczytaj całość
        </button>
      </div>
        <p class="card-text"><small class="text-muted">Dodane {{post.createdAt}}</small></p>
    </div>
  </div>


</div>

