<div class="card" style="background-color: rgba(27,27,27,0.8);">
  <header class="mat-card-title">
    <p *ngIf="isLoggedIn">Cześć {{ currentUser.username }} !</p>
    <p *ngIf="!isLoggedIn">Jesteś nowy? <a routerLink="/register">Dołącz do naszej ekipy</a></p>

  </header>

    <!-- Post list content -->
  <div style="margin-bottom: 20px;">
    <div *ngFor="let post of posts | slice:0:5; let i=index;"
         class="card" style="background-color: rgba(0,0,0,0.8); width: 100%">
      <h4 style="text-align: center; color: white">{{post.title}}</h4>
      <hr style="width:70%; left: 15%; position: relative">
      <div [innerHTML]="post.description" style="color: rgb(255,255,255)"></div>
      <button type="submit" [routerLink]="['post', post.id, 'details']"
              style=" position: relative; left: 40%; width: 20%">Przeczytaj całość</button>
    </div>

  </div>

</div>

