<div>
  <div *ngIf="isLoggedIn; else notLoggedIn">
    <div class="title-container">Artykuły dodane przez użytkownika {{username}}</div>

    <!-- Article list content -->
    <div *ngIf="posts.length !== 0; else emptyArticleList" class="article-table">
      <table class="table" style="margin: 0">
        <thead style="border: white 1px solid">
        <tr>
          <th scope="col" style="text-align: center">#</th>
          <th scope="col" style="text-align: center">Tytuł</th>
          <th scope="col" style="text-align: center">Użytkownik</th>
          <th scope="col" style="text-align: center">Data utworzenia</th>
          <th scope="col" style="text-align: center"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let post of posts | slice:0:10; let i=index;">
          <td>{{ post.id }}</td>
          <td>{{ post.title }}</td>
          <td>{{ post.user.username }}</td>
          <td>{{ post.createdAt.slice(0, post.createdAt.indexOf('T')) }}</td>
          <td>
            <i class="material-icons icon-item" [routerLink]="['/post', post.id, 'details']">slideshow</i>
            <i class="material-icons icon-item" [routerLink]="['/post', post.id, 'edit']">edit</i>
            <i class="material-icons icon-item" (click)="deletePost(post.id)">delete</i>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <ng-template #emptyArticleList>
      <div class="empty-list-info">
        Lista dodanych artykułów jest pusta.
      </div>
    </ng-template>

    <div *ngIf=isAdmin class="button-item">
      <button mat-raised-button
              type="button"
              color="primary"
              routerLink="/post/add">Dodaj nowy post
      </button>
    </div>
  </div>

  <ng-template #notLoggedIn>
    <div class="alert alert-warning" role="alert">
      <a routerLink="/login">Zaloguj się</a>, aby wyświetlić listę artykułów
    </div>
  </ng-template>
</div>
